.about-brands {
  padding: 8rem 0;
  position: relative;

  @include tablet {
    padding: 3rem 0;
  }

  &__candy {
    position: absolute;
    left: 1.6rem;
    top: 0rem;
    width: 16.3rem;
    height: 16.8rem;

    img {
      width: 100%;
      height: 100%;
    }

    &:nth-of-type(2) {
      left: unset;
      right: -3.6rem;
      top: 14rem;
    }

    @include tablet {
      display: none;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 5rem;
    font-weight: 100;
    font-size: 8rem;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ce9a51;

    @include tablet {
      text-align: center;
      font-size: 1.6rem;
      font-weight: 500;
      color: var(--cvet-osnova);
      margin-bottom: 1rem;
    }

    &--end {
      text-align: right;

      @include tablet {
        text-align: center;
      }
    }
  }

  .plug {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &__block {
    &:not(:last-of-type) {
      margin-bottom: 13rem;

      @include tablet {
        margin-bottom: 3rem;
      }
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      svg {
        width: 16rem;

        @include tablet {
          width: 5rem;
        }
      }
    }

    &:not(:last-of-type) {
      margin-bottom: 1.6rem;
    }

    &--end {
      justify-content: flex-end;
      margin-top: 4rem;

      @include tablet {
        margin-top: 2rem;
      }
    }

    &--center,
    &--tall,
    &--head,
    &--right {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        right: 0;
        width: 200%;
        height: 1px;
        background-color: #887f7f;
      }
    }

    &--center {
      justify-content: center;

    }

    &--right {
      justify-content: flex-end;
      padding-right: 40rem;

      @include tablet {
        padding-right: 0;
        padding-left: 8rem;
        justify-content: flex-start;
      }

      &::before {
        width: 100%;
        transform: unset;

        @include tablet {
          width: 200%;
          transform: translateX(-50%);
        }
      }
    }

    &--head {
      padding-left: 27rem;

      @include tablet {
        padding-left: 8rem;
      }
    }

    &--tail {
      justify-content: flex-end;
      padding-right: 30rem;
    }
  }

  &__item {
    background-color: #fff;


    &--top {
      margin-top: -6rem;

      @include tablet {
        margin-top: -1rem;
      }
    }

    &--end {
      margin-bottom: -6rem;
    }

    &--big {
      height: 9.4rem;

      @include tablet {
        height: 2rem;
        width: 12.4rem;
      }
    }

    &--tall {
      height: 16rem;
      max-width: 40rem;

      @include tablet {
        height: 3rem;
      }
    }

    &--small {
      // width: 53.7rem;
      height: 9.8rem;

      @include tablet {
        height: 2.3rem;
        flex-shrink: 0;

        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }

    &--medium {
      // width: 59.5rem;
      height: 8.6rem;

      @include tablet {
        height: 2.3rem;
        width: 16.4rem;
        flex-shrink: 0;

        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }

    img {
      // width: 100%;
      width: auto;
      height: 100%;
      object-fit: contain;
    }
  }
}