.about-hero {
  padding-top: 5rem;
  position: relative;

  &__boxes {
    position: absolute;
    top: 15.3rem;
    left: 5.6rem;
    width: 15rem;
    height: 13rem;

    @include tablet {
      display: none;
    }
  }

  @include tablet {
    padding-top: 7rem;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 19rem;
    position: relative;

    @include tablet {
      display: block;
    }
  }

  &__content {
    padding: 6.6rem 0;
    width: 100%;
    max-width: 67.3rem;

    @include tablet {
      padding: 0;
      max-width: 100%;
    }
  }

  &__title {
    position: relative;
    padding-bottom: 3rem;
    margin-bottom: 7.5rem;

    @include tablet {
      margin-bottom: 2rem;
      padding-bottom: 0.5rem;
      text-align: left;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1rem;
      width: 18rem;
      background-image: url('./../img/backgrounds/green-dark.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      @include tablet {
        width: 3rem;
        height: 0.2rem;
      }
    }
  }

  &__desc {
    margin-bottom: 5rem;

    @include tablet {
      margin-bottom: 2rem;
    }

    span {
      font-family: var(--third-family);
      font-weight: 400;
      font-size: 3.2rem;
      text-align: center;
      color: #282626;

      @include tablet {
        font-size: 1.2rem;
        margin-bottom: 2rem;
        text-align: left;
      }
    }



  }

  &__text {
    margin: 0;
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 2rem;

    @include tablet {
      font-size: 1.2rem;
      max-width: 15.5rem;
    }


    &--orient {
      @include tablet {
        margin-top: 1.5rem;
        max-width: 28rem;
        font-weight: 400;
        color: #282626;
      }
    }
  }

  &__support {
    width: 100%;
    margin-bottom: 7.5rem;
    max-width: 60rem;

    @include tablet {

      margin: 0;

    }

    span {
      display: block;
      margin-bottom: 2rem;
      font-family: var(--third-family);
      font-weight: 400;
      font-size: 2.8rem;
      line-height: 120%;
      letter-spacing: 0.03em;
      color: var(--cvet-osnova);

      @include tablet {
        font-size: 1.2rem;
        max-width: 17rem;
        margin-bottom: 1rem;
      }
    }

    p {
      @include tablet {
        max-width: unset;

        &:last-child {
          font-family: var(--third-family);
          margin-top: 1.5rem;
          color: #282626;
        }
      }
    }
  }



  &__image {
    @include tablet {
      position: absolute;
      z-index: -1;
      right: -4rem;
      top: -3rem;
      width: 25rem;
    }

    img {
      max-height: 101rem;
      width: 100%;
      width: auto;
      object-fit: contain;
    }
  }
}


.about-capture {
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
  font-weight: 500;
  font-size: 4rem;
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cvet-osnova);

  @include tablet {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}

.about-desc {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 130%;
  color: #515151;

  max-width: 47rem;

  @include tablet {
    font-size: 1.2rem;
  }
}

.about-figure {
  font-family: var(--font3);
  font-weight: 400;
  font-size: 20rem;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: var(--cvet-osnova);

  @include tablet {
    font-size: 2.8rem;
    position: absolute;
  }

  &--end {
    align-self: flex-end;
    transform: translate(4rem, -50%);

    @include tablet {
      transform: unset;
    }
  }
}