.about-attent {
  min-height: 123.5rem;
  padding-bottom: 30rem;

  position: relative;
  z-index: 2;


  @include tablet {
    min-height: unset;
    padding-bottom: 0;
    background: linear-gradient(180deg, transparent 40%, #e1dbd6 100%, #d1cfd4 10%);
  }

  &__image {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 95%;
    max-width: 127.7rem;


    @include tablet {
      position: static;
      order: 4;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0rem;
      height: 100%;
      width: 20rem;
      backdrop-filter: blur(32px);

      @include tablet {
        display: none;
      }
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      top: -5rem;
      left: 0;
      height: 10rem;
      width: 100%;
      backdrop-filter: blur(32px);

      @include tablet {
        display: none;
      }
    }

    img {
      display: block;
      width: auto;
      height: 100%;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30rem;

    @include tablet {
      gap: 2rem;
    }
  }

  &__top {
    display: flex;
    gap: 8rem;
    align-items: flex-end;

    @include tablet {
      position: relative;
      padding-top: 5rem;
    }

    .about-figure {
      line-height: 1;

      @include tablet {
        top: 0;
        left: 0;
      }
    }
  }

  &__bottom {
    text-align: right;

    @include tablet {
      position: relative;
      padding-top: 5rem;

      .about-figure {
        top: 0;
        right: 0;
      }
    }
  }

  &__desc {
    max-width: 87rem;
  }

  &__bottom {
    align-self: flex-end;
  }
}