.about-attent {
  min-height: 123.5rem;
  padding-bottom: 30rem;

  position: relative;
  z-index: 2;


  &__image {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 95%;
    max-width: 127.7rem;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 2rem;
      // background: radial-gradient(78.19% 78.19% at 50% 23.41%, rgb(255, 255, 255) 0%, rgb(225, 219, 214) 100%), linear-gradient(180deg, #eeeae8 0%, #fff 100%), linear-gradient(270deg, #edebe7 0%, #e7e3df 0.01%, #ece9e6 100%);
      // background: linear-gradient(to bottom, #ffffff00 0%, #e1dbd6 100%, #d1cfd4 100%);
      backdrop-filter: blur(2px);
    }

    img {
      display: block;
      width: auto;
      height: 100%;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30rem;
  }

  &__top {
    display: flex;
    gap: 8rem;
    align-items: flex-end;

    .about-figure {
      line-height: 1;
    }
  }

  &__bottom {
    text-align: right;
  }

  &__desc {
    max-width: 70rem;
  }

  &__bottom {
    align-self: flex-end;
  }
}