.about-credo {
  position: relative;
  padding-top: 15vh;

  &__pero {
    position: absolute;
    left: 0;
    top: 0;
    width: 45rem;
    height: 33rem;

    @include tablet {
      width: 20rem;
      height: 15rem;
      left: -4rem;
    }
  }

  @include tablet {
    padding-top: 8rem;
  }

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 20rem;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--cvet-osnova);

    @include tablet {
      font-size: 4.4rem;
    }
  }

  &__section {
    display: flex;
    width: 200vw;
    padding-top: 16rem;
    padding-bottom: 10rem;
    position: relative;

    @include tablet {
      padding: 2.5rem 0;
    }
  }



  &__wrapper {
    background: linear-gradient(180deg, #fff 0%, #e1dbd6 100%, #d1cfd4 100%);
  }

  &__wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }

  &__ks {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);

    @include tablet {
      left: 12rem;
      bottom: 24.5svh;
    }

    img {
      height: 42rem;
      max-height: 35vh;

      @include tablet {
        max-width: 13.7rem;
        max-height: 10.8rem;
      }
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 6rem;

    @include tablet {
      flex-grow: 1;
      flex-direction: column;
      gap: 3rem;
    }

    &--end {
      @include tablet {
        align-items: flex-end;
        text-align: right;

        .about-credo__figure {
          left: unset;
          right: 0;
        }
      }
    }
  }

  &__screen {
    width: 100vw;
    position: relative;

    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }

  &__boxes {
    position: absolute;
    left: 9rem;
    bottom: 0;
    width: 20rem;
    height: 22rem;

    @include tablet {
      display: none;
    }
  }

  &__pack {
    position: absolute;
    left: -20rem;
    bottom: 20%;
    width: 40rem;
    height: 42rem;

    @include tablet {
      display: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding-top: 5rem;
  }

  &__figure {
    @include tablet {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__image {
    flex-shrink: 0;
    width: 100%;
    max-width: 83rem;
    padding: 2rem;
    background-color: #fff;

    @include tablet {
      padding: 1rem;
    }
  }
}