.about-work {
  margin-bottom: 14rem;
  position: relative;

  &__boxes {
    position: absolute;
    bottom: 12rem;
    right: 5rem;
    width: 17rem;
    height: 14.8rem;
  }

  @include tablet {
    margin-bottom: 6.7rem;
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 6rem;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cvet-osnova);

    @include tablet {
      font-size: 1.6rem;
      margin-bottom: 8rem;
    }

    span {
      display: block;

      @include tablet {
        display: inline;
      }
    }
  }

  &__container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 4rem;

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
      gap: 8rem;
    }
  }

  &__item {
    position: relative;
    flex: 1;

    &:nth-child(even) {
      margin-bottom: 19rem;

      @include tablet {
        margin-bottom: 0;
      }
    }
  }

  &__image {
    position: absolute;
    z-index: 4;
    top: -8rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    max-height: 26.4rem;
    max-width: 28.5rem;

    @include tablet {
      max-height: 12rem;
      max-width: 25.7rem;
      left: 3rem;
      top: -6rem;
      transform: unset;
    }

    img {
      width: 100%;
      height: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      transform: scale(1.07);
      width: 100%;
      height: 100%;
      background-color: #000;

      @include tablet {
        transform: scale(1.02, 1.05);
      }
    }
  }

  &__text {
    padding: 2rem;
    padding-top: 21.6rem;
    background-color: #edf1ea;

    @include tablet {
      padding-top: 9.5rem;
      padding-right: 1rem;
      padding-bottom: 0.5rem;
      width: 100%;
      max-width: 25rem;
    }
  }

  &__desc {
    margin: 0;
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 2.4rem;
    color: #515151;

    @include tablet {
      font-size: 1.4rem;
    }
  }
}