.added-item {
  &__image {
    height: 33rem;
    margin-bottom: 0.6rem;

    @include tablet {
      height: 15rem;
      margin-bottom: 1rem;
    }

    img {
      height: 100%;
      width: 100%;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 0 1rem;

    @include tablet {
      flex-wrap: wrap;
      margin-bottom: 1rem;
    }
  }

  &__title {
    display: block;
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 120%;
    color: var(--cvet-osnova);

    @include tablet {
      font-size: 1.2rem;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  &__select {
    .select__header {
      width: auto;
      height: 2.6rem;
      gap: .8rem;
      padding: .4rem 1rem;

      @include tablet {
        height: 2rem;
        padding: .4rem;
      }
    }

    .select__icon {
      width: 1.8rem;
      height: 1.8rem;
      flex-shrink: 0;

      @include tablet {
        width: 1.2rem;
        height: 1.2rem;
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .select__input {
      height: 100%;
      padding: 0;

      @include tablet {
        font-size: 1.2rem;
      }
    }
  }

  &__price {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 120%;
    text-align: center;
    color: var(--cvet-osnova);

    @include tablet {
      font-size: 1.4rem;
    }
  }
}