.add {
  // background-color: #000;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__line {
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 6rem;
    padding: 1.2rem;
    border-right: none;
    border-left: none;
    position: relative;
    border: 1px solid #000;
    right: 0;

    @include tablet {
      gap: 2rem;
      padding: 0.5rem;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: 4;
      top: 0;
      height: 90%;
      aspect-ratio: 1 / 1;
      border: 1px solid #000;
      background-color: #fff;
    }

    &::before {
      left: 0;
      transform: rotate(-45deg) translate(-50%, -50%);
    }

    &::after {
      right: 0;
      transform: rotate(45deg) translate(50%, -50%);
    }

  }

  &__items {
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 6rem;

    @include tablet {
      gap: 2rem;
    }

    animation: scrollLine 30s linear infinite;
    // min-width: 100%;
    justify-content: space-between;

    &--reverse {
      animation-direction: reverse;
    }
  }

  &__item {
    white-space: nowrap;
    font-family: var(--font3);
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--cvet-osnova);

    @include tablet {
      font-size: .8rem;
    }

  }
}

.add--dark {
  background-color: var(--chernyy);

  .add {
    &__item {
      color: #fff;

      span.highlite {
        color: #e88c4a;
      }
    }

    &__line {
      background: linear-gradient(180deg, #4c4c4c 0%, #0f0f0f 100%);
      backdrop-filter: blur(13px);
      border-color: #fff;
      mask-image: url('./../img/add-mask.svg');
      mask-size: 100% 100%;
      mask-repeat: no-repeat;

      @include tablet {
        padding: 0.1rem;
      }

      &::before,
      &::after {
        display: none;
      }
    }
  }
}

@keyframes scrollLine {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}