.breadcrumbs {
  &>ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    align-items: flex-end;
    gap: 0.4rem;

    &>li {
      display: flex;
      align-items: flex-end;
      gap: 0.4rem;

      &:not(:last-child) {
        &::after {
          content: "";
          display: block;
          width: 2rem;
          height: 2rem;

          background-image: url('./../img/arrow-right.svg');
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;


          @include tablet {
            width: 0.6rem;
            height: 0.6rem;
          }
        }
      }

      &>a {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 120%;
        color: var(--cvet-osnova);

        @include tablet {
          font-size: .6rem;
        }
      }
    }
  }
}