.catalogue-cta {
  padding-top: 15rem;
  padding-bottom: 13rem;

  @include tablet {
    padding-top: 4rem;
    padding-bottom: 3rem;

  }

  &__header {
    display: flex;
    flex-direction: column;
    max-width: 136.5rem;
    margin: 0 auto;
    margin-bottom: 7.6rem;

    @include tablet {
      margin-bottom: .5rem;
      max-width: 100%;
    }
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 12rem;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cvet-osnova);

    @include tablet {
      font-size: 1.6rem;
    }
  }

  &__subtitle {
    align-self: flex-end;
    margin-right: 4rem;

    @include tablet {
      align-self: flex-start;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    max-width: 115rem;
    margin: 0 auto;
    gap: 6rem;

    @include tablet {
      max-width: 100%;
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 5.5rem;
    }
  }

  &__content {
    width: 100%;
    max-width: 31rem;
    flex-shrink: 0;
  }

  &__img {
    position: absolute;
    z-index: 3;
    left: -40rem;
    top: -14rem;

    height: 38rem;

    @include tablet {
      left: -14rem;
      top: -3.4rem;
      height: 15rem;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: scale(1.02, 1.05);
      background-image: url('./../img/backgrounds/green.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    img {
      height: 100%;
      width: auto;
      object-fit: contain;
    }
  }

  &__image {
    height: 35rem;
    width: 100%;
    position: relative;
    z-index: 2;

    @include tablet {
      height: 14rem;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: scale(1.02, 1.05);
      background-color: #000;

      @include tablet {
        transform: translateX(15rem) scale(1.02, 1.05);
      }
    }

    &>picture>img {
      display: block;
      height: 100%;
      width: 100%;

      @include tablet {
        transform: translateX(15rem);
      }
    }
  }

  &__desc {
    margin: 0;

    font-family: var(--second-family);
    font-weight: 300;
    font-size: 2rem;
    line-height: 175%;
    color: #425c4c;

    &:not(:last-child) {
      margin-bottom: 2.6rem;

      @include tablet {
        margin-bottom: 1rem;
      }
    }

    @include tablet {
      font-size: 1.4rem;
      line-height: 140%;
    }
  }

  &__btn {
    padding: 2rem 4.8rem;

    @include tablet {
      padding: 1rem;
    }

    span {
      font-size: 2rem;

      @include tablet {
        font-size: 1.2rem;
      }
    }

    svg {
      width: 3.7rem;
    }
  }
}