.contacts-section {
  padding: 6rem 0;
  padding-top: 16rem;

  @include tablet {
    padding-top: 6rem;
    padding-bottom: 2rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem;

    @include tablet {
      display: block;
    }
  }

  &__title {
    margin-bottom: 4rem;

    @include tablet {
      margin-bottom: 2rem;
    }
  }

  &__desc {
    margin: 0;
    margin-bottom: 4rem;
    font-family: var(--second-family);
    font-weight: 300;

    line-height: 120%;
    letter-spacing: 0.01em;
    color: #000;

    font-size: 2.4rem;

    span {
      font-family: var(--third-family);
      font-weight: 400;
    }

    @include tablet {
      font-size: 1.2rem;
      margin-bottom: 0;
      display: none;
    }

    &--mob {
      display: none;

      @include tablet {
        display: block;
      }
    }
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 5rem;

    @include tablet {
      gap: 1rem;
    }

    &:not(:last-of-type) {
      margin-bottom: 6rem;

      @include tablet {
        margin-bottom: 1rem;
      }
    }
  }

  &__item {
    flex: 1;

    display: flex;
    align-items: center;
    gap: 2rem;

    @include tablet {
      gap: 1rem;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__capture,
  &__value {
    font-family: var(--font4);
    font-weight: 400;
    font-size: 2rem;
    color: var(--chernyy);

    @include tablet {
      font-size: 1.2rem;
    }
  }

  &__capture {
    display: flex;
    align-items: center;
    gap: 1rem;

    @include tablet {
      gap: 0.5rem;
    }

    svg {
      width: 2.4rem;
      height: 2.4rem;

      @include tablet {
        width: 1.6rem;
        height: 1.6rem;
      }
    }
  }

  &__images {
    display: flex;
    position: relative;

    @include tablet {
      display: none;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    gap: 3.4rem;
  }

  &__img {
    &:nth-child(1) {
      height: 38rem;
      width: 57.7rem;

    }

    &:nth-child(2) {
      position: absolute;
      right: -2.5rem;
      top: 2.6rem;
      width: 28.5rem;
      height: 22.4rem;
    }

    img {
      height: 100%;
      width: 100%;
    }
  }
}