.concl {
  position: relative;
  z-index: 4;
  min-height: 160rem;

  background-image: url('./../img/girls-2-2x.png'), linear-gradient(180deg, #efebe2 0%, #d9d5cd 18.46%, #000 100%);
  background-position: bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;

  // background-color: #d4d1ca;
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    height: 40rem;
    width: 120%;
    backdrop-filter: blur(5px);
  }

  @include tablet {
    min-height: 54.4rem;
    background-position: center;
    background-image: url('./../img/girls-2-2x.png');
    background-color: #d4d1ca;
  }

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #ddd8d1, #d9d5cd, transparent);
    mix-blend-mode: multiply;
  }

  &__container {
    flex-grow: 1;
    padding-top: 6.4rem;
    padding-bottom: 24.4rem;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;

    @include tablet {
      padding: 2.4rem;
      padding-bottom: 7rem;
    }
  }

  &__text {
    max-width: 61rem;
    position: relative;
    z-index: 4;

    @include tablet {
      max-width: 29rem;
    }
  }

  &__subtitle {
    position: relative;
    z-index: 4;
    align-self: center;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 8rem;
    line-height: 110%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;

    @include tablet {
      font-size: 1.6rem;
    }

    span {
      display: block;

      &:nth-child(1) {
        margin-bottom: 2rem;

        @include tablet {
          margin-bottom: 1rem;
        }
      }

      &:nth-child(2) {
        line-height: 150%;
      }
    }
  }
}