.cb-cursor {
  $root: &;

  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;


  contain: layout style size;
  pointer-events: none;
  will-change: transform;

  transition: opacity 0.3s, color 0.4s;

  color: var(--cvet-osnova);

  &:before {
    content: "";
    position: absolute;
    top: -50px;
    left: -50px;
    display: block;
    width: 100px;
    height: 100px;
    transform: scale(0);
    pointer-events: none;
    background: currentColor;
    border-radius: 50%;

    transition: transform 0.3s ease-in-out, opacity 0.1s, background-color .5s ease-in-out;
  }

  &-text {
    position: absolute;
    top: -18px;
    left: -18px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0) rotate(10deg);

    opacity: 0;
    color: white;

    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.01em;

    transition: opacity 0.4s, transform 0.3s;
  }

  &.-text-gr {
    .cb-cursor-text {
      color: var(--cvet-osnova);
    }
  }

  &.-exclusion {
    @supports (mix-blend-mode:exclusion) {
      mix-blend-mode: exclusion;
    }

    &:before {
      @supports (mix-blend-mode:exclusion) {
        background: white;
      }
    }
  }

  &.-normal {
    mix-blend-mode: normal;

    &:before {
      background: currentColor;
    }
  }

  &.-inverse {
    color: white;
  }

  &.-visible {
    &:before {
      transform: scale(0.3);
    }

    &.-active:before {
      transform: scale(0.4);
      transition-duration: 0.2s;
    }
  }



  &.-pointer {
    &:before {
      transform: scale(0.15);
    }
  }

  &.-text {
    @extend .-normal;

    &:before {
      opacity: 0.85;
      transform: scale(0.8);
    }

    #{$root} {
      &-text {
        opacity: 1;
        transform: scale(1);
      }
    }

    &.-active:before {
      transform: scale(.8);
      transition-duration: 0.2s;
    }
  }

  &.-opaque {
    @extend .-exclusion;

    &:before {
      transform: scale(1.32);
    }

    &.-active:before {
      transform: scale(1.2);
    }
  }

  &.-lg {
    &:before {
      transform: scale(.5);
      background-color: transparent;
      border: 1px solid currentColor;
    }
  }

  &.-fl {
    &::before {
      background-color: currentColor !important;
    }
  }

  &.-white-cursor {
    &::before {
      color: #fff;
    }
  }

  &.-hidden {
    &:before {
      transform: scale(0);
    }
  }
}