.delivery-section {
  padding-top: 18rem;
  margin-bottom: 12rem;
  position: relative;

  @include tablet {
    padding-top: 9rem;
  }

  &__candy {
    position: absolute;
    left: 0;
    top: 16rem;
    width: 12rem;
    height: 17rem;
  }

  &__title {
    margin-bottom: 4rem;
    display: inline-block;
    position: relative;

    @include tablet {
      display: flex;
      align-items: center;
      gap: 4rem;
      margin-bottom: 2rem;
    }

    &::after {
      content: "";
      position: absolute;
      left: calc(100% + 2rem);
      top: 50%;
      transform: translateY(-50%);
      height: 0.2rem;
      width: 300rem;
      background-color: var(--cvet-osnova);

      @include tablet {
        flex-grow: 1;
        width: unset;
        position: static;
      }
    }
  }

  &__desc {
    margin: 0;
    margin-bottom: 9rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cvet-osnova);

    @include tablet {
      font-size: 1.2rem;
      margin-bottom: 3rem;
    }
  }

  &__row {
    display: flex;
    align-items: flex-start;
    gap: 8rem;
    position: relative;

    @include tablet {
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__boxes {
    position: absolute;
    right: -16rem;
    top: 0;
    width: 15.8rem;
    height: 15.4rem;
  }

  &__wraning {
    flex-grow: 1;
  }
}


.warning {
  position: relative;
  width: 100%;
  max-width: 49rem;
  padding: 1.2rem 0;
  padding-right: 10rem;

  @include tablet {
    padding: 2rem .5rem;
    max-width: unset;
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 200%;
    height: 100%;
    background-image: url('./../img/backgrounds/green-dark.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__title {
    position: relative;
    z-index: 2;
    margin: 0;
    margin-bottom: 2.5rem;
    display: block;
    font-weight: 700;
    font-size: 5rem;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;

    @include tablet {
      font-size: 1.6rem;
      margin-bottom: 0.5rem;
    }
  }

  &__desc {
    position: relative;
    z-index: 2;
    margin: 0;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 130%;
    text-transform: uppercase;
    color: #fff;

    @include tablet {
      font-size: 1.2rem;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;

      @include tablet {
        margin-bottom: 0.5rem;
      }
    }
  }
}