.faq-section {
  padding-top: 20rem;
  position: relative;

  &__candy {
    position: absolute;
    right: 0;
    top: 18rem;
    width: 20rem;
    height: 12.8rem;

    @include tablet {
      display: none;
    }
  }

  @include tablet {
    padding-top: 7rem;
    padding-bottom: 3rem;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 13rem;

    @include tablet {
      flex-direction: column-reverse;
      gap: 4rem;
    }
  }

  &__images {
    flex: 1 0 66.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    @include tablet {
      flex: unset;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }


  &__title {
    text-align: center;
    margin-bottom: 6rem;

    @include tablet {
      margin-bottom: 2rem;
      text-align: left;
    }
  }

  &__item {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--cvet-osnova);

    @include tablet {
      padding-bottom: 1rem;
    }

    &:not(:last-child) {
      margin-bottom: 3rem;

      @include tablet {
        margin-bottom: 1.5rem;
      }
    }

    &.active {
      .faq-section__header {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__desc {
    margin: 0;
    font-family: var(--font8);
    font-weight: 300;
    font-size: 2rem;
    color: var(--cvet-osnova);
    margin-top: 2rem;

    @include tablet {
      margin-top: 1rem;
      font-size: 1.2rem;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    span {
      font-family: var(--third-family);
      font-weight: 400;
      font-size: 2.8rem;
      color: var(--cvet-osnova);

      @include tablet {
        font-size: 1.6rem;
      }
    }

    svg {
      width: 3.2rem;
      height: 3.2rem;

      @include tablet {
        width: 2rem;
        height: 2rem;
      }

      transition: transform .5s ease-out;
    }
  }

  &__content {
    box-sizing: content-box;
    overflow: hidden;
    max-height: 0;

    will-change: max-height;
    transition: max-height .5s ease-out;
  }
}