.filters {
  position: fixed;
  // z-index: 9999;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  min-height: 49rem;
  background-color: #fff;
  padding: 7rem 4.3rem;
  transform: translateY(-100%);
  z-index: -1;

  transition: transform .5s ease-out, z-index .5s ease-out;

  @include tablet {
    padding: 2rem;
    min-height: 100%;
    overflow-y: scroll;
  }

  &.active {
    transform: translateY(0);
    z-index: 9999;
  }

  &__close {
    position: absolute;
    z-index: 8;
    right: 2.5rem;
    top: 2.5rem;
    width: 2.4rem;
    height: 2.4rem;

    @include tablet {
      right: .6rem;
      top: .6rem;
      width: 1.4rem;
      height: 1.4rem;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__btn {
    padding: 2rem 5rem;
    height: 6rem;

    @include tablet {
      padding: 1rem 1rem;
      height: 4rem;
    }

    span {
      font-size: 2rem;

      @include tablet {
        font-size: 1rem;
      }
    }

    &.active {
      background-color: var(--cvet-osnova);

      span {
        color: #fff;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 4.5rem;

    @include tablet {
      gap: 1rem;
      margin-bottom: 3rem;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    @include tablet {
      gap: 1rem;
    }

    &:not(:last-child) {
      margin-bottom: 2.5rem;

      @include tablet {
        margin-bottom: 2rem;
      }
    }
  }

  &__block {
    &:not(:last-child) {
      margin-bottom: 4.5rem;

      @include tablet {
        margin-bottom: 2rem;
      }
    }
  }

  &__content {
    display: none;

    &.active {
      display: block;
    }
  }
}