.footer {

  background-color: #fff;
  border-top: 1px solid rgba(#000, 0.2);

  &--gradient {
    background: linear-gradient(to bottom, #EFEBE1, #fff 50%);
  }

  @include tablet {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.9rem 2.4rem;
    z-index: 999;
  }

  &__top {
    padding: 8rem 0;

    @include tablet {
      display: none;
    }
  }

  &__bottom {
    background: #262626;
    padding: 1.2rem 0;

    @include tablet {
      display: none;
    }
  }

  &__copy {
    font-family: var(--font6);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 134%;
    color: #bbb;
  }

  &__city {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      display: none;
    }
  }

  &__logo {
    .logo__top {
      font-size: 4rem;
    }

    .logo__bottom {
      font-size: 2rem;
    }
  }

  &__address {}

  &__col {
    margin-bottom: 3.4rem;
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 1.4rem;
  }

  &__capture,
  &__value {
    display: block;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #131313;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    height: 3.2rem;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.06);

    svg {
      width: 75%;
      height: 75%;

      transition: stroke .3s ease-out;
      object-fit: contain;

      fill: #131313;
    }
  }

  &__capture {
    margin-bottom: 1rem;
  }

  &--dark {
    background-color: #222423;

    @include tablet {
      background-color: #fff;
    }

    .logo {

      &__top,
      &__bottom {
        color: #fff;
      }
    }

    .footer-nav {
      &__link {
        color: #fff;
      }
    }

    .footer {

      &__capture,
      &__value {
        color: #fff;
      }
    }
  }
}

.footer-nav {
  &__item {
    text-align: right;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__link {
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #131313;
  }
}


.footer-mob {
  display: none;

  @include tablet {
    display: block;
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    width: 1.6rem;
    height: 1.6rem;
    margin-bottom: 0.5rem;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 120%;
    color: var(--cvet-osnova);
  }
}