.gallery {
  min-width: 0;
  position: relative;



  &__slider {
    min-width: 0;
    max-width: 100%;
    margin-bottom: 0.3rem;

    &>.swiper-wrapper {
      &>.swiper-slide {
        height: 69.5rem;

        @include tablet {
          height: 34.2rem;
        }

        img {
          display: block;
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  &__thumbs {
    &>.swiper>.swiper-wrapper {
      &>.swiper-slide {
        cursor: pointer;
        height: 18rem;

        @include tablet {
          height: 8.8rem;
        }

        img {
          display: block;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}