.hero {

  min-height: 100vh;
  background-image: url('./../img/main-screen-bg.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  justify-content: center;
  align-items: center;

  &__video {
    position: relative;
    width: 40rem;
    height: 40rem;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet {
      width: 20rem;
      height: 20rem;
    }

    video {
      position: relative;
      width: 100vw;
      height: 100vh;
      min-height: 100vh;
      min-width: 100vw;
      object-fit: cover;
    }

  }

  &__container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    opacity: 0;
    position: relative;

    width: 100%;
    padding-top: 20rem;
    padding-bottom: 15rem;
    // background-image: url('./../img/hero-2x.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


    flex-grow: 1;

    display: flex;
    flex-direction: column;

    position: absolute;
    z-index: 4;

    @include tablet {
      padding-top: 6rem;
    }
  }

  &__title {
    position: relative;
    z-index: 5;
    margin: 0;
    margin-bottom: 0.8rem;
    font-weight: 400;
    font-family: var(--font-family);
    text-transform: uppercase;
    color: var(--cvet-osnova);

    @include tablet {
      text-align: center;
      display: flex;
      justify-content: center;
      gap: .5rem;
      margin-bottom: .5rem;
    }

    span {
      display: block;

      @include tablet {
        display: inline;
      }

      &:nth-child(1) {
        font-size: 4rem;

        @include tablet {
          font-size: 2rem;
        }
      }

      &:nth-child(2) {
        position: relative;
        font-size: 6rem;
        padding-left: 7.2rem;
        font-weight: 700;

        @include tablet {
          font-size: 2rem;
          padding-left: 0;
          font-weight: 400;
        }

        &::before {
          content: "";
          position: absolute;
          right: calc(100% - 5rem);
          top: 50%;
          transform: translateY(-50%);
          height: 3px;
          width: 30rem;
          background-color: #000;

          @include tablet {
            display: none;
          }
        }
      }
    }





  }

  &__subtitle {
    position: relative;
    z-index: 5;
    margin: 0;
    margin-bottom: 2rem;
    font-weight: 100;
    font-size: 5rem;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--cvet-osnova);

    @include tablet {
      font-weight: 400;
      font-size: 2rem;
      text-transform: uppercase;
      text-align: center;
      color: #ce9a51;
    }
  }

  &__desc {
    position: relative;
    z-index: 5;
    margin: 0;
    font-family: var(--font-family);
    font-weight: 100;
    font-size: 3.2rem;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--cvet-osnova);

    @include tablet {
      display: none;
    }

    span {
      display: block;
    }

    .highlite {
      color: #ce9a51;
    }
  }
}

.lines {
  position: absolute;
  right: 10rem;
  top: 0;
  bottom: 0;

  display: flex;

  @include tablet {
    display: none;
  }
}

.line {
  position: relative;
  font-family: var(--font3);
  font-weight: 400;
  font-size: 3rem;
  line-height: 104%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  white-space: nowrap;
  padding: 0 .4rem;
  overflow: hidden;

  // mask-image: url('./../img/line-mask.svg');
  // mask-size: 100% 100%;
  // mask-repeat: no-repeat;
  // mask-position: center;
  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 4;
    left: 50%;
    width: 90%;
    aspect-ratio: 1 / 1;
    background: #ccc;
  }

  &::before {
    top: 0;
    transform: translate(-50%, -70%) rotate(45deg);

  }

  &::after {
    bottom: 0;
    transform: translate(-50%, 70%) rotate(45deg);
  }

  &--black {

    backdrop-filter: blur(13px);
    background: linear-gradient(180deg, #000 0%, rgba(31, 47, 32, 0.25) 100%);
    ;

    .line__items {
      animation-direction: reverse;
    }
  }

  &--light {
    backdrop-filter: blur(13px);
    background: linear-gradient(180deg, #000 0%, #7f7f7f 100%);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

  }


  &__items {
    writing-mode: vertical-lr;
    text-orientation: upright;

    animation: scroll 40s linear infinite;
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}