.look {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #fff 0%, #efebe2 100%);
  }

  &__container {
    display: flex;
    justify-content: flex-end;
    min-height: 100rem;
    padding-right: calc((100% - var(--container-width)) / 2);
    padding-bottom: 67rem;

    @include tablet {
      min-height: unset;
      justify-content: center;
      padding: 0;
      padding-bottom: 50rem;
    }
  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100rem;
    height: 100%;

    @include tablet {
      width: 100%;
      height: auto;
      top: unset;
      bottom: 15rem;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include tablet {
        height: auto;
      }
    }
  }

  &__slider {
    min-width: 0;
    max-width: 100%;
    max-width: 100vw;
    padding-right: 8rem;
    padding-left: 120rem;

    @include tablet {
      padding: 0;
      padding-left: 3rem;
    }

    .swiper-wrapper {
      align-items: flex-end;
      max-width: 100%;
    }

    .swiper-slide {
      width: auto;
      height: auto;
      margin-right: 9rem;

      @include tablet {
        margin-right: 2rem;
      }

      &-active {
        .look-slide {
          height: 60rem;

          @include tablet {
            height: 10rem;
          }
        }

        .look-slide__title {
          background-color: var(--cvet-osnova);

          @include tablet {
            background: none;
          }
        }
      }
    }
  }

  &__content {
    max-width: 65rem;
    padding-top: 11rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      padding-top: 4rem;
      max-width: 30rem;
    }
  }

  &__btn {
    padding: 3rem 5rem;

    @include tablet {
      padding: 1rem 2rem;
    }

    span {
      font-size: 2.8rem;
      line-height: 1;

      @include tablet {
        font-size: 1.2rem;
      }
    }

    svg {
      width: 9rem;

      @include tablet {
        width: 3.7rem;
      }
    }
  }

  &__title {
    margin-bottom: 3rem;
    font-size: 3.2rem;
    font-family: var(--font-family);
    color: var(--cvet-osnova);

    @include tablet {
      font-size: 1.6rem;
      margin-bottom: 1.5rem;
    }
  }

  &__wrapper {
    position: absolute;
    z-index: 5;
    bottom: 5rem;
    left: 0;
  }

}

.look-slide {
  width: 46.2rem;
  height: 27.8rem;
  position: relative;
  transition: height .5s ease-out;

  will-change: height;

  @include tablet {
    width: 20rem;
    height: 10rem;
  }

  &__image {
    width: 100%;
    height: 100%;

    img {
      height: 100%;
      width: 100%;
    }
  }

  &__title {
    position: absolute;
    bottom: 0;
    padding: 2rem;
    padding-right: 1rem;
    left: 0;
    right: 0;
    font-family: var(--font5);
    font-weight: 300;
    font-size: 2.4rem;
    color: #fff;

    @include tablet {
      font-size: 1.2rem;
      padding-bottom: 1rem;
    }
  }
}