.mood {
  padding-top: 6rem;
  padding-bottom: 4.5rem;

  @include tablet {
    margin-top: 5.4rem;
    padding-bottom: 4rem;
    padding-top: 0;
  }

  &__title {
    margin: 0;
    margin-bottom: 6rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 5rem;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cvet-osnova);

    @include tablet {
      font-size: 1.6rem;
      margin-bottom: 2rem;
    }

    span {
      color: #d1a281;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;


    @include tablet {
      display: flex;
      gap: 1.8rem;

    }
  }

  &__item {
    height: 64rem;
    border-radius: 1rem;
    overflow: hidden;
    background: #939393;

    @include tablet {
      height: 37rem;
      width: 21.5rem;
      flex-shrink: 0;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 2.5rem;

    @include tablet {
      gap: .5rem;
    }
  }

  &__soc {
    display: block;
    width: 2.8rem;
    height: 2.8rem;

    @include tablet {
      width: 1rem;
      height: 1rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.mood-slider {
  margin-bottom: 4rem;

  @include tablet {
    margin-bottom: 1.6rem;
  }

  .swiper-slide {
    width: auto;
    height: auto;
  }
}