.order-item {
  min-height: 64rem;
  position: relative;
  width: 100%;
  display: flex;
  overflow: hidden;

  @include tablet {
    min-height: 36.2rem;
    flex-direction: column;
  }

  &--cta {
    z-index: 4;
    overflow: visible;

    @include tablet {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    &::before {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 92, 76, 0.77);
    transform: translateY(100%);
    transition: transform .5s ease-out;
  }


  &:nth-child(1) {
    &::before {
      transform: translateY(0);
    }

    .order-item__btn {
      opacity: 1;
    }
  }

  &:nth-child(1) {
    @include tablet {
      &::before {
        transform: translateY(0);
      }

      .order-item__btn {
        opacity: 1;
      }
    }
  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    position: relative;
    z-index: 3;
    margin-left: 20rem;
    writing-mode: vertical-rl;

    font-weight: 400;
    font-size: 13.6rem;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ce9a51;
    transform: rotate(180deg);

    @include tablet {
      writing-mode: unset;
      margin-left: 0;
      transform: unset;
      font-size: 1.6rem;
    }
  }

  &__delivery {
    backdrop-filter: blur(2.8rem);
    background: rgba(20, 20, 20, 0.6);

    font-weight: 400;
    font-size: 5rem;
    line-height: 130%;
    text-transform: uppercase;
    color: #fff;

    padding: 4rem 2rem 3rem;

    @include tablet {
      padding: 1rem 1.5rem;
      font-size: 1.6rem;
      text-align: center;
    }

    span {
      font-weight: 700;
      display: block;

      @include tablet {
        display: inline;
      }
    }
  }

  &__cta {
    margin-right: -8rem;
    // margin-top: 10rem;
    transform: translateY(6rem);

    @include tablet {
      margin-top: 2rem;
      margin-right: 0;
      transform: unset;
    }

    .contacts-section__item {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__address {
    margin-bottom: 5rem;
    padding: 0 7.5rem;

    @include tablet {
      padding: 0;
      margin: 0;
      margin-bottom: 3rem;
    }
  }

  &__content {
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 7rem;
    position: relative;
    z-index: 4;
    max-width: 57rem;

    @include tablet {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0;
      padding: 1.8rem;
    }

    &--end {
      @include tablet {
        justify-content: flex-end;
      }
    }
  }

  &__name {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 3.2rem;
    color: #fff;
    display: block;
    margin-bottom: 3rem;

    @include tablet {
      font-size: 1.6rem;
      margin-bottom: 2rem;
    }
  }

  &__desc {
    font-family: var(--third-family);
    font-weight: 400;
    color: #fff;
    display: block;
    font-size: 2.4rem;


    @include tablet {
      font-size: 1.6rem
    }

    &:not(:last-child) {
      margin-bottom: 3.4rem;
    }
  }

  &__btn {
    border-color: #fff;
    color: #fff;
    font-size: 2.4rem;
    gap: 2.4rem;
    padding: 1.75rem 5rem;
    opacity: 0;
    transition: opacity .3s ease-out;

    @include tablet {
      font-size: 1.2rem;
      overflow: 1.1rem 2.2rem;
    }

    span {
      flex-shrink: 0;
    }

    svg {
      fill: #fff;
      width: 7rem;

      @include tablet {
        width: 3.7rem;
      }
    }
  }
}