.pack-check {
  padding-top: 5rem;
  margin-bottom: 15rem;
  position: relative;

  @include tablet {
    padding-top: 0;
    margin-bottom: 8rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-10%, -50%);
    width: 9rem;
    height: 17rem;
    background-color: #000;
    background-image: url('./../img/about/credo/ks-mob.png');
    background-position: center;
    background-size: 95% 95%;
    background-repeat: no-repeat;

    display: none;

    @include tablet {
      display: block;
    }
  }



  &__container {
    max-width: var(--container-width);
    padding: var(--container-offset);
    margin-left: 10rem;
    align-items: center;
    display: flex;
    gap: 14rem;

    position: relative;

    @include tablet {
      gap: 0;
      margin-left: 11.6rem;
      margin-right: 1rem;
      max-width: 22rem;
      padding: 0;
      padding-top: 5rem;
    }
  }

  &__figure {
    left: 14rem;

    @include tablet {
      left: 0;
    }

    &::after {
      content: "";
      position: absolute;
      left: calc(100% + 3rem);
      top: 3rem;
      height: 1rem;
      width: 19rem;

      background-image: url('./../img/backgrounds/green-dark.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      @include tablet {
        display: none;

      }
    }
  }

  &__candy {
    position: absolute;
    right: 10rem;
    bottom: 0;
    width: 16.3rem;
    height: 16.8rem;
  }

  &__images {
    flex-basis: 92.6rem;
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;

    @include tablet {
      display: none;
    }
  }

  &__img {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      transform: scale(1.04);
    }

    &:nth-child(1) {
      width: 62rem;
      height: 25rem;
      align-self: flex-end;
      margin-bottom: -12rem;
      position: relative;
      z-index: 5;

      &::before {
        background: none;
        background-color: #000;
        transform: scale(1.04, 1.1);
      }
    }

    &:nth-child(2) {
      z-index: 4;
      width: 60.9rem;
      height: 38.1rem;

      &::before {
        background-image: url('./../img/backgrounds/green.webp');
      }
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}