.pack-turn {
  padding-top: 5rem;
  padding-bottom: 28rem;
  position: relative;

  @include tablet {
    padding-top: 0;
    padding-bottom: 7rem;
  }

  &__candy {
    position: absolute;
    left: 4rem;
    top: -4rem;
    width: 15.8rem;
    height: 14.3rem;

    @include tablet {
      display: none;
    }
  }

  &__boxes {
    position: absolute;
    left: 0;
    bottom: -36rem;
    width: 26.5rem;
    height: 20.8rem;

    @include tablet {
      display: none;
    }
  }

  &__container {
    display: flex;
    padding-left: 8rem;
    position: relative;
    z-index: 4;

    @include tablet {
      padding: 0;
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    position: relative;

    @include tablet {
      padding-right: 13.7rem;
      padding-left: 2.4rem;
      padding-top: 4.6rem;
    }
  }

  &__text {
    width: 100%;
    max-width: 61.5rem;
    position: relative;
  }



  &__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 13rem;
    transform: translateY(25rem);

    @include tablet {
      display: none;
    }

    .pack-turn {
      &__img {
        background-color: #000;

        &:nth-child(1) {
          position: relative;
          z-index: 3;
          width: 27.4rem;
          height: 25.3rem;
          margin-left: auto;
          margin-bottom: -5rem;
          margin-right: -8.3rem;

          &::before {
            content: "";
            position: absolute;
            z-index: -1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: url('./../img/backgrounds/green.webp');
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            transform: scale(1.02);
          }
        }

        &:nth-child(2) {
          width: 32.1rem;
          height: 38.1rem;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            z-index: -1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            transform: scale(1.06);
          }
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &__figure {
    left: 16rem;

    @include tablet {
      left: 2.4rem;
    }
  }

  &__image {
    width: 100%;
    max-width: 97rem;
    height: 145rem;
    position: absolute;
    z-index: -1;
    right: -12rem;
    top: 50%;
    transform: translateY(-47%);

    .shadow {
      right: 11rem;
      bottom: 14rem;
      transform: rotateY(180deg);

      @include tablet {
        right: 1rem;
        bottom: 4rem;
      }
    }

    @include tablet {
      height: 33.6rem;
      max-width: 28rem;
      right: -5rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}