.pack-grow {
  margin-bottom: 5rem;

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 13rem;
    width: 100%;
    max-width: 170rem;
  }

  &__content {
    text-align: right;
  }

  &__desc {
    max-width: 73rem;
  }
}