.pack-grow {
  padding-bottom: 10rem;
  position: relative;

  @include tablet {
    padding-bottom: 0;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 13rem;
    width: 100%;
    max-width: 130rem;
    margin: 0 auto;

    @include tablet {
      max-width: unset;
      padding-right: 2.4rem;
      padding-left: 1rem;
    }
  }

  &__figure {
    left: unset;
    right: 20rem;

    @include tablet {
      right: 2.4rem;
    }

    &::after {
      content: "";
      position: absolute;
      left: calc(100% + 3rem);
      top: 3rem;
      height: 1rem;
      width: 30rem;
      background-image: url('./../img/backgrounds/green-dark.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      @include tablet {
        display: none;
      }
    }
  }

  &__content {
    text-align: right;

    @include tablet {
      padding-top: 5rem;
      max-width: 21.5rem;
    }
  }

  &__desc {
    max-width: 83rem;
  }
}