.recommend {
  padding: 10rem 0;
  background: #fff;
  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__candy {
    position: absolute;
    left: 0;
    top: 10rem;
    width: 14.5rem;
    height: 9.2rem;

    @include tablet {
      display: none;
    }
  }

  &__link {
    margin: 0 auto;
    margin-top: 6rem;
    padding: 1.8rem 8rem;
    font-size: 2rem;

    @include tablet {
      display: block;
      width: 100%;
      text-align: center;
      margin-top: 3rem;
      font-size: 1.2rem;
    }
  }

  &__boxes {
    position: absolute;
    right: -16rem;
    top: 0;
    width: 15.5rem;
    height: 15.2rem;

    @include tablet {
      display: none;
    }
  }

  @include tablet {
    padding: 3rem 0;
  }

  &--similar {
    background: linear-gradient(180deg, #fff 0%, #eff3ea 100%);
  }

  &__title {
    font-size: 3rem;
    margin-bottom: 7rem;
    align-self: flex-start;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4rem;

    @include tablet {
      font-size: 1.6rem;
      margin-bottom: 4rem;
    }

    &::after {
      content: "";
      display: block;
      height: 0.2rem;
      flex-grow: 1;
      background-color: var(--cvet-osnova);

      @include tablet {
        display: none;
      }
    }

    &--end {
      flex-direction: row-reverse;

      @include tablet {
        flex-direction: row;
        justify-content: flex-start;
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3rem;
    position: relative;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem 1.2rem;
    }
  }

  &__item {
    height: unset;
    min-height: 30rem;

    @include tablet {
      min-height: 20.4rem;
    }

    .catalogue-item__image {
      height: 27rem;

      @include tablet {
        height: 15rem;
      }
    }

    .catalogue-item__name {
      font-size: 1.6rem;

      @include tablet {
        font-size: 1.2rem;
      }
    }

    .catalogue-item__link {
      padding: 1.8rem;
    }

    @include hover {
      .catalogue-item__image {
        height: 19rem;
      }
    }
  }
}