.services-store {
  margin-bottom: 8rem;

  @include tablet {
    margin-bottom: 3rem;
  }

  &__desc {
    margin: 0;
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #000;
  }

  &__title {
    height: 100%;
    margin: 0 auto;
    max-width: 75rem;
    display: flex;
    align-items: center;

    @include tablet {
      max-width: 80%;
      margin-bottom: 0.5rem;
    }

    &-slider {
      margin-bottom: 6rem;

      .swiper-slide {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }
  }

  &__content {
    max-width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 4rem;

    &-slider {
      min-width: 0;
      max-width: 100%;
    }
  }

  &__container {
    display: flex;
    gap: 3.5rem;

    @include tablet {
      flex-direction: column-reverse;
    }
  }

  &__slider {
    width: 70%;
    position: relative;

    @include tablet {
      width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      width: 12rem;
      height: 100%;
      top: 0;
      left: 32.2rem;
      border-right: .5rem solid #fff;
      border-left: .5rem solid #fff;

      @include tablet {
        display: none;
      }
    }

    .swiper {
      margin-bottom: 2rem;

      .swiper-slide {
        &:nth-of-type(1) {
          background-color: #eae7e2;
        }

        &:nth-of-type(2) {
          background-color: #dbdad6;
        }

        &:nth-of-type(3) {
          background-color: #f0efec;
        }

        &:nth-of-type(4) {
          background-color: #e5e4e1;
        }

        &:nth-of-type(5) {
          background-color: #d3d2d5;
        }

        &:nth-of-type(6) {
          background-color: #dfddd9;
        }
      }
    }
  }

  &__slide {
    display: flex;


  }

  &__frame {
    flex: 1 0 44.6rem;

    @include tablet {
      display: none;
    }
  }

  &__know {
    margin: 0;
    margin-bottom: 14rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 3rem;

    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cvet-osnova);

    @include tablet {
      margin-bottom: 2rem;

      font-size: 1rem;
      font-weight: 500;
      line-height: 120%;
      text-align: center;
      color: #ce9a51 !important;
    }

    span {
      display: block;

      @include tablet {
        display: inline;
      }
    }

    .large {
      font-size: 4.8rem;

      @include tablet {
        font-size: 1rem;
      }
    }

    .medium {
      font-weight: 500;
    }

    .highlite {
      color: #ce9a51;
    }

    .thin {
      font-weight: 100;

      @include tablet {
        font-weight: 500;
      }
    }
  }

  &__line {
    &:not(:last-child) {
      margin-bottom: 1.5rem;

      @include tablet {
        margin-bottom: 0;
      }
    }
  }

  &__image {
    height: 62rem;

    img {
      width: 100%;
      height: 100%;

      @include tablet {
        object-position: top center;
      }
    }

    @include tablet {
      height: 29rem;
      width: 100%;
    }
  }

  &__pagination {
    position: static;

    .swiper-pagination-bullet {
      &-active {
        background-color: #ce9a51;
      }
    }
  }

  &__link {
    font-size: 2.8rem;

    svg {
      width: 9rem;
    }

    @include tablet {
      display: block;
      text-align: center;
    }
  }

  &__btn {
    position: absolute;
    z-index: 4;
    top: 50%;
    transform: translateY(-50%);
    width: 3.6rem;
    height: 3.6rem;
    cursor: pointer;

    &--prev {
      left: 2.5rem;
    }

    &--next {
      right: 2.5rem;
    }
  }
}