.way {
  padding: 2.5rem;
  box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.1);
  background: radial-gradient(104.66% 104.66% at 50% 0%, rgb(255, 255, 255) 0%, rgb(195, 220, 203) 100%);
  position: relative;
  width: 32.6rem;
  padding-right: 0;

  &:not(:last-child) {
    margin-right: 8rem;

    @include tablet {
      margin-right: 0;
    }
  }

  @include tablet {
    width: 90%;
  }

  &:not(:last-child) {
    @include tablet {
      margin-bottom: 4rem;
    }
  }

  &__title {
    display: block;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--cvet-osnova);

    @include tablet {
      font-size: 2.4rem;
    }
  }

  &__text {
    width: 100%;
    max-width: 37rem;
    padding-right: 12rem;

    @include tablet {
      max-width: 19.6rem;
      padding-right: 0;
    }
  }

  &__desc {
    margin: 0;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--cvet-osnova);

    @include tablet {
      font-size: 1.4rem;
    }
  }

  &__logo {
    position: absolute;
    top: calc(100% - 7rem);
    right: -10rem;
    width: 21rem;
    height: 21rem;
    overflow: hidden;
    border-radius: 100%;
    background-color: #fff;

    @include tablet {
      width: 10.6rem;
      height: 10.6rem;
      right: -3.5rem;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}