.work {
  &__title {
    margin: 0;
    margin-bottom: 5rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 4rem;
    line-height: 200%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--cvet-osnova);

    @include tablet {
      font-size: 1.6rem;
      line-height: 120%;
      margin-bottom: 3rem;
    }

    // span {
    //   display: block;
    //   font-size: 8rem;
    //   font-size: 1.6rem;
    //   line-height: 1;
    // }
  }

  &__wrapper {
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translate(10rem, -50%);
    left: 0;
    width: 18vw;
    height: 18vw;
    border-radius: 100%;
    background-image: url('./../img/backgrounds/green-dark.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include tablet {
      background-image: url('./../img/backgrounds/green-dark-rot.jpg');
    }
  }

  &__row {
    display: flex;
    position: relative;

    @include tablet {
      flex-direction: column;
    }

    &:nth-of-type(1) {
      height: 42rem;

      @include tablet {
        height: unset;
      }
    }

    &:nth-of-type(2) {

      .work__item {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .work__image {
        width: 30rem;
        height: 30rem;
        border-radius: 30rem;
        overflow: hidden;
      }
    }
  }


  &__item {
    position: relative;
    flex: 1 1 50%;

    @include tablet {
      flex: unset;
      width: 100%;
      height: 12.8rem;
    }

    &--animate {
      opacity: 0;

      @include tablet {
        height: 21.4rem;
      }
    }

    &--form {
      position: relative;
      padding: 8.4rem 19rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(90%);
      opacity: 0;
      backdrop-filter: blur(2.4rem);
      background: rgba(14, 14, 14, 0.6);

      @include tablet {
        height: unset;
        padding: 4.5rem 3rem;
      }
    }

    &:not(.work__item--form) {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(66, 92, 76, 0.8);
        opacity: 0;
        transition: opacity .3s ease-out;
      }

      @include hover {
        &::before {
          opacity: 1;
        }
      }
    }

    &:nth-child(3) {
      &::before {
        display: none;
      }
    }
  }

  &__image {
    height: 100%;
    width: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    position: absolute;
    left: 7.4rem;
    bottom: 4rem;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 3.2rem;
    color: #fff;

    @include tablet {
      left: 2rem;
      font-size: 1.6rem;
    }
  }

  &__form {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 4;

    display: flex;
    flex-direction: column;
  }
}