<section class="about-place">
  <div class="container about-place__container">
    <div class="about-place__header">
      <span class="about-credo__figure about-figure">03</span>
      <div class="about-place__right">
        <span class="about-place__capture about-capture">Все в одном месте</span>
        <p class="about-desc about-place__desc">
          Вам не придется заказывать что-то в одном месте, а печать - в другом. Мы предоставляем и закрываем все ваши
          потребности.
          А также мы предлагаем плечики и чехлы для одежды с Вашим лого, фирменный шоколад, упаковочную бумагу и ленты с
          логотипом. Доверьте упаковку Вашего товара профессионалам своего дела
        </p>
      </div>
    </div>

    <div class="about-place__image">
      <picture>
        <source srcset="./img/about/credo/03-2x.webp" media="(min-width: 1900px)">
        <source srcset="./img/about/credo/03.webp">
        <img src="./img/about/credo/03.png" srcset="./img/about/credo/03-2x.png" alt="">
      </picture>
    </div>
  </div>
</section>