<section class="about-brands">
  <div class="about-brands__candy rellax" data-rellax-speed="-1">
    <img src="./img/decor/candy-3.png" alt="">
  </div>
  <div class="container">
    <h2 class="about-brands__title about-brands__title--end">Мировые бренды</h2>
    <div class="about-brands__block">
      <div class="about-brands__row">
        <div class="about-brands__item about-brands__item--big">
          <img src="./img/about/brands/intimissimi.svg" alt="">
        </div>
        <div class="about-brands__item about-brands__item--small">
          <img src="./img/about/brands/mango.svg" alt="">
        </div>
      </div>
      <div class="about-brands__row about-brands__row--head">
        <div class="about-brands__item about-brands__item--medium">
          <img src="./img/about/brands/love-republic.svg" alt="">
        </div>
      </div>
      <div class="about-brands__row about-brands__row--end ">
        <a href="#">
          <svg width="163" height="16" viewBox="0 0 163 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M162.707 8.70711C163.098 8.31658 163.098 7.68342 162.707 7.29289L156.343 0.928932C155.953 0.538408 155.319 0.538408 154.929 0.928932C154.538 1.31946 154.538 1.95262 154.929 2.34315L160.586 8L154.929 13.6569C154.538 14.0474 154.538 14.6805 154.929 15.0711C155.319 15.4616 155.953 15.4616 156.343 15.0711L162.707 8.70711ZM0 9H162V7H0V9Z"
              fill="#CE9A51" />
          </svg>
        </a>
      </div>
    </div>

    <h2 class="about-brands__title">Сибирские бренды</h2>
    <div class="about-brands__block">
      <div class="about-brands__row">
        <div class="about-brands__item about-brands__item--tall">
          <img src="./img/about/brands/centarr-2.png" alt="">
        </div>
        <div class="about-brands__item about-brands__item--small about-brands__item--top">
          <img src="./img/about/brands/centarr.png" alt="">
        </div>
      </div>
      <div class="about-brands__row about-brands__row--right">
        <div class="about-brands__item about-brands__item--tall">
          <img src="./img/about/brands/sweden.png" alt="">
        </div>
      </div>
    </div>
    <div class="about-brands__block">
      <div class="about-brands__row">
        <div class="about-brands__item about-brands__item--big about-brands__item--top">
          <img src="./img/about/brands/centarr.png" alt="">
        </div>
        <div class="about-brands__item about-brands__item--medium about-brands__item--bottom">
          <img src="./img/about/brands/centarr.png" alt="">
        </div>
      </div>
      <div class="about-brands__row about-brands__row--center">
        <div class="about-brands__item about-brands__item--tall">
          <img src="./img/about/brands/skysuite.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>