<section class="about-attent">
  <div class="container about-attent__container">
    <div class="about-attent__top">
      <span class="about-figure about-attent__figure">04</span>
      <div class="about-attent__right">
        <span class="about-capture about-attent__capture">
          Создание WOW-эффекта
        </span>
        <p class="about-desc about-attent__desc">
          Мы знаем, что правильно продуманная упаковка производит приятное впечатление, вызывает эмоциональную связь,
          вовлекает в единение с брендом, поэтому никогда не забываем про вау-эффект. В нашем арсенале много ярких,
          экстравагантных, стильных примеров заказанных работ. Посмотрите наши соц.сети мы мастера ВАУ-ффекта
        </p>
      </div>
    </div>
    <div class="about-attent__bottom">
      <span class="about-attent__figure about-figure">05</span>
      <span class="about-attent__capture about-capture">Внимание и забота</span>
      <p class="about-attent__desc about-desc">
        Внимание и забота о каждом человеке лежат в основе всех наших стратегических решений. Абсолютное удовлетворение
        всех участников процесса, будь то собственник бизнеса, сотрудник из отдела снабжения или ваш клиент — это то,
        что вдохновляет нас двигаться вперед и становиться лучше день ото дня.
      </p>
    </div>
  </div>
  <div class="about-attent__image">
    <picture>
      <source srcset="./img/about/credo/background.webp">
      <img src="./img/about/credo/background.png" alt="">
    </picture>
  </div>
</section>