<section class="about-hero">
  <div class="container about-hero__container">
    <div class="about-hero__content">
      <h2 class="title3 about-hero__title">О компании</h2>
      <div class="about-hero__desc">
        <span>Принт Инсайт -</span>
        <p class="about-hero__text">
          рекламно-производственная типография, предоставляющая самый широкий спектр полиграфических услуг.
        </p>
        <p class="about-hero__text">
          Мы занимаемся профессиональным изготовлением этикеток, бирок, полиграфии и упаковки от 10 единиц
        </p>
        <p class="about-hero__text">
          Наше производство оснащено современным высокотехнологичным парком оборудования с большим количеством
          возможностей.
        </p>
      </div>
      <div class="about-hero__support">
        <span>поддерживаем начинающие и устоявшиеся бренды</span>
        <p class="about-hero__text">
          помогаем своим партнерам обрести неповторимую индивидуальность и узнаваемость их брендов.
        </p>
      </div>
      <div class="about-hero__orient">
        <div class="about-hero__icon">
          <img src="./img/about/city.png" alt="city">
        </div>
        <p class="about-hero__text">
          Мы ориентированы на сотрудничество как с крупными, так и только с начинающими брендами
        </p>
      </div>
    </div>
    <div class="about-hero__image">
      <picture>
        <source srcset="./img/about/01-2x.webp" media="(min-width: 1900px)">
        <source srcset="./img/about/01.webp">
        <img src="./img/about/01.png" srcset="./img/about/01-2x.png" alt="girls">
      </picture>
    </div>
  </div>
</section>