<section class="about-credo">
  <div class="container">
    <h2 class="about-credo__title">
      Наше кредо
    </h2>
  </div>

  <div class="about-credo__section about-credo__credo__section--animation">
    <div class="about-credo__screen credo-first">
      <div class="container about-credo__container">
        <div class="about-credo__content">
          <span class="about-credo__capture about-capture">клиентоориентированность</span>
          <p class="about-credo__desc about-desc">
            Для нас очень важен уровень счастья клиентов, мы прислушиваемся к каждому мнению, все проекты делаем с душой
            и
            с индивидуальным подходом. Мы не перестаем развиваться и улучшать наши услуги, чтобы быть надежным партнером
            наших заказчиков в создании качественных и привлекающих внимание упаковок.
          </p>
          <span class="about-credo__figure about-figure about-figure--end">01</span>
        </div>
        <div class="about-credo__image">
          <picture>
            <source srcset="./img/about/credo/01-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/about/credo/01.webp">
            <img src="./img/about/credo/01.jpg" srcset="./img/about/credo/01-2x.jpg 2x" alt="credo">
          </picture>
        </div>
      </div>
    </div>
    <div class="about-credo__screen credo-second">
      <div class="container about-credo__container">
        <div class="about-credo__content">
          <span class="about-credo__figure about-figure">02</span>
          <span class="about-credo__capture about-capture">Соблюдение<br>сроков</span>
          <p class="about-credo__desc about-desc">
            Мы гарантируем строгое соблюдение установленных сроков, обеспечивая своевременное производство и доставку
            ваших упаковок, чтобы ваш бизнес работал без задержек.
          </p>
        </div>
        <div class="about-credo__image">
          <picture>
            <source srcset="./img/about/credo/02-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/about/credo/02.webp">
            <img src="./img/about/credo/02.jpg" srcset="./img/about/credo/02-2x.jpg 2x" alt="credo">
          </picture>
        </div>
      </div>
    </div>
    <div class="about-credo__wrap">
      <div class="about-credo__ks">
        <picture>
          <source srcset="./img/about/credo/ks-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/about/credo/ks.webp">
          <img src="./img/about/credo/ks.jpg" alt="">
        </picture>
      </div>
    </div>
  </div>

</section>