<section class="about-team">
  <div class="about-team__boxes rellax" data-rellax-speed="2">
    <img src="./img/decor/boxes-yellow-3.png" alt="">
  </div>
  <div class="about-team__container">
    <div class="about-team__image">
      <picture>
        <source srcset="./img/about/02.webp">
        <img src="./img/about/02.png" alt="boxes">
      </picture>
    </div>

    <div class="about-team__content">
      <div class="about-team__title">команда</div>
      <p class="about-team__text about-hero__text">
        Мы ценим нашу команду. Нам удалось создать комфортное рабочее пространство с невероятной атмосферой созидания,
        абсолютным пониманием и безграничным доверием, поэтому наш коллектив - это не просто штатные сотрудники, а
        команда единомышленников с горящими от энтузиазма глазами.
      </p>
      <p class="about-team__text about-hero__text">
        Каждый в нашей компании плечом к плечу ежедневно решает множество вопросов, огромное количество действий ради
        достижения одной цели, чтобы у Вас была самая лучшая упаковка.
      </p>
      <a href="#" class="btn btn-reset about-team__btn">
        <span>Подробнее</span>
        <svg width="89" height="9" viewBox="0 0 89 9" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M88.3536 4.85356C88.5488 4.6583 88.5488 4.34172 88.3536 4.14645L85.1716 0.964474C84.9763 0.769211 84.6597 0.769211 84.4645 0.964473C84.2692 1.15974 84.2692 1.47632 84.4645 1.67158L87.2929 4.50001L84.4645 7.32843C84.2692 7.5237 84.2692 7.84028 84.4645 8.03554C84.6597 8.2308 84.9763 8.2308 85.1716 8.03554L88.3536 4.85356ZM-4.37114e-08 5L88 5.00001L88 4.00001L4.37114e-08 4L-4.37114e-08 5Z" />
        </svg>
      </a>
    </div>
  </div>
</section>