<section class="about-work">
  <div class="about-work__boxes rellax" data-rellax-speed="-1">
    <img src="./img/decor/boxes-yellow-4.png" alt="">
  </div>
  <div class="container">
    <h2 class="about-work__title">
      <span>За время</span>
      <span class="highlite">нашей работы</span>
      <span>мы:</span>
    </h2>
    <div class="about-work__container">
      <div class="about-work__item">
        <div class="about-work__image">
          <picture>
            <source srcset="./img/about/work/01-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/about/work/01.webp">
            <img src="./img/about/work/01.jpg" srcset="./img/about/work/01-2x.jpg 2x" alt="work">
          </picture>
        </div>
        <div class="about-work__text">
          <p class="about-work__desc">
            Мы всегда поможем нашему клиенту с выбором упаковки. Доверьтесь нам
          </p>
        </div>
      </div>
      <div class="about-work__item">
        <div class="about-work__image">
          <picture>
            <source srcset="./img/about/work/02-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/about/work/02.webp">
            <img src="./img/about/work/02.jpg" srcset="./img/about/work/02-2x.jpg 2x" alt="work">
          </picture>
        </div>
        <div class="about-work__text">
          <p class="about-work__desc">
            Создали уникальный тренд на большой пакет
          </p>
        </div>
      </div>
      <div class="about-work__item">
        <div class="about-work__image">
          <picture>
            <source srcset="./img/about/work/03-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/about/work/03.webp">
            <img src="./img/about/work/03.jpg" srcset="./img/about/work/03-2x.jpg 2x" alt="work">
          </picture>
        </div>
        <div class="about-work__text">
          <p class="about-work__desc">
            Мы с радостью поможем вам с дизайном и логотипом
          </p>
        </div>
      </div>
      <div class="about-work__item">
        <div class="about-work__image">
          <picture>
            <source srcset="./img/products/03.webp">
            <img src="./img/products/03.jpg" alt="work">
          </picture>
        </div>
        <div class="about-work__text">
          <p class="about-work__desc">
            Специально для вас мы нашли шоколад,вкус которого вызовет у вас эмоции из детства
          </p>
        </div>
      </div>
    </div>
  </div>
</section>