<section class="add add--dark">
  <h2 class="visually-hidden">title</h2>
  <div class="add__wrapper">
    <div class="add__line">
      <div class="add__items">
        <span class="add__item">
          подпишись на закрытый телеграмм канал и получай выгодные предложения
        </span>
        <span class="add__item">*</span>
        <span class="add__item">
          подпишись на закрытый телеграмм канал и получай выгодные предложения
        </span>
        <span class="add__item">*</span>
      </div>
      <div class="add__items">
        <span class="add__item">
          подпишись на закрытый телеграмм канал и получай выгодные предложения
        </span>
        <span class="add__item">*</span>
        <span class="add__item">
          подпишись на закрытый телеграмм канал и получай выгодные предложения
        </span>
        <span class="add__item">*</span>
      </div>
    </div>
    <div class="add__line">
      <div class="add__items add__items--reverse">
        <span class="add__item">
          забери свой <span class="highlite">подарок</span>
        </span>
        <span class="add__item">*</span>
        <span class="add__item">
          забери свой <span class="highlite">подарок</span>
        </span>
        <span class="add__item">*</span>
        <span class="add__item">
          забери свой <span class="highlite">подарок</span>
        </span>
        <span class="add__item">*</span>
        <span class="add__item">
          забери свой <span class="highlite">подарок</span>
        </span>
        <span class="add__item">*</span>
      </div>
      <div class="add__items add__items--reverse">
        <span class="add__item">
          забери свой <span class="highlite">подарок</span>
        </span>
        <span class="add__item">*</span>
        <span class="add__item">
          забери свой <span class="highlite">подарок</span>
        </span>
        <span class="add__item">*</span>
        <span class="add__item">
          забери свой <span class="highlite">подарок</span>
        </span>
        <span class="add__item">*</span>
        <span class="add__item">
          забери свой <span class="highlite">подарок</span>
        </span>
        <span class="add__item">*</span>
      </div>
    </div>
  </div>
</section>