<section class="favorites-section favorites-section--cart">
  <div class="container">
    <div class="item-header favorites-section__header">
      <a href="./" class="item-header__back">
        <svg width="165" height="16" viewBox="0 0 165 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M0.292892 8.84773C-0.0976257 8.45721 -0.0976257 7.82404 0.292892 7.43352L6.65686 1.06956C7.04738 0.679033 7.68054 0.679033 8.07108 1.06956C8.46159 1.46008 8.46159 2.09325 8.07108 2.48377L2.41422 8.14062L8.07108 13.7975C8.46159 14.188 8.46159 14.8212 8.07108 15.2117C7.68054 15.6022 7.04738 15.6022 6.65686 15.2117L0.292892 8.84773ZM165 9.14062H1V7.14062H165V9.14062Z"
            fill="black" />
        </svg>
      </a>
      <h2 class="title3 item-header__title">
        Корзина
      </h2>
    </div>
    <button class="btn-reset favorites-section__clear">Очистить все</button>
    <div class="favorites-section__buttons">
      <button class="btn-reset favorites-section__btn favorites-section__btn--clear">
        Очистить все
      </button>
      <a href="./order.html" class="btn-reset btn favorites-section__btn favorites-section__btn--add">
        <span>оформить заказ</span>
        <svg width="37" height="8" viewBox="0 0 37 8" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M36.3536 4.63481C36.5488 4.43954 36.5488 4.12296 36.3536 3.9277L33.1716 0.745719C32.9763 0.550457 32.6597 0.550457 32.4645 0.745719C32.2692 0.940981 32.2692 1.25756 32.4645 1.45283L35.2929 4.28125L32.4645 7.10968C32.2692 7.30494 32.2692 7.62152 32.4645 7.81679C32.6597 8.01205 32.9763 8.01205 33.1716 7.81679L36.3536 4.63481ZM-4.37114e-08 4.78125L36 4.78125L36 3.78125L4.37114e-08 3.78125L-4.37114e-08 4.78125Z" />
        </svg>
      </a>
    </div>

    <div class="favorites-section__items">
      <div class="added-item favorites-section__item">
        <div class="added-item__image">
          <picture>
            <source srcset="./img/added/01-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/added/01.webp">
            <img src="./img/added/01.jpg" srcset="./img/added/01-2x.jpg 2x" alt="">
          </picture>
        </div>

        <div class="added-item__header">
          <span class="added-item__title">Коробки гофракартон</span>
          <div class="added-item__buttons">
            <button class="btn-reset added-item__btn added-item__btn--rm">&times;</button>
            <button class="btn-reset added-item__btn added-item__btn--like">
              <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7.04756 3.11756C8.75473 1.61196 9.72421 0.817436 12.1402 2.17559C14.5971 5.5078 11.4426 7.60499 7.04756 11.2812C2.3806 8.22496 1.14853 6.51249 1 3.43164C3.91995 0.186652 4.86263 1.07004 7.01697 3.08889L7.04756 3.11756Z"
                  fill="#FF0000" />
                <path
                  d="M7.04756 3.11756C8.75473 1.61196 9.72421 0.817436 12.1402 2.17559C14.5971 5.5078 11.4426 7.60499 7.04756 11.2812C2.3806 8.22496 1.14853 6.51249 1 3.43164C3.91995 0.186652 4.86263 1.07004 7.01697 3.08889M7.04756 3.11756L7.01697 3.08889M7.04756 3.11756C7.03734 3.10798 7.02714 3.09842 7.01697 3.08889"
                  stroke="#FF0000" />
              </svg>
            </button>
          </div>

          <div class="added-item__select select">
            <div class="select__header">
              <input type="number" class="select__input input-reset" min="0" max="50" value="50">
              <div class="select__icon">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_735_8260)">
                    <path
                      d="M5.5575 6.44531L9 9.88031L12.4425 6.44531L13.5 7.50281L9 12.0028L4.5 7.50281L5.5575 6.44531Z"
                      fill="black" />
                  </g>
                  <defs>
                    <clipPath id="clip0_735_8260">
                      <rect width="18" height="18" fill="white" transform="matrix(0 1 -1 0 18 0)" />
                    </clipPath>
                  </defs>
                </svg>
              </div>
            </div>
            <div class="select__dropdown">
              <div class="select__item">5</div>
              <div class="select__item">10</div>
              <div class="select__item">15</div>
              <div class="select__item">20</div>
              <div class="select__item">25</div>
            </div>
          </div>
        </div>
        <div class="added-item__bottom">
          <span class="added-item__price">
            Цена:
            <span>1789руб.</span>
          </span>
        </div>
      </div>
      <div class="added-item favorites-section__item">
        <div class="added-item__image">
          <picture>
            <source srcset="./img/added/01-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/added/01.webp">
            <img src="./img/added/01.jpg" srcset="./img/added/01-2x.jpg 2x" alt="">
          </picture>
        </div>

        <div class="added-item__header">
          <span class="added-item__title">Коробки гофракартон</span>
          <div class="added-item__buttons">
            <button class="btn-reset added-item__btn added-item__btn--rm">&times;</button>
            <button class="btn-reset added-item__btn added-item__btn--like">
              <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7.04756 3.11756C8.75473 1.61196 9.72421 0.817436 12.1402 2.17559C14.5971 5.5078 11.4426 7.60499 7.04756 11.2812C2.3806 8.22496 1.14853 6.51249 1 3.43164C3.91995 0.186652 4.86263 1.07004 7.01697 3.08889L7.04756 3.11756Z"
                  fill="#FF0000" />
                <path
                  d="M7.04756 3.11756C8.75473 1.61196 9.72421 0.817436 12.1402 2.17559C14.5971 5.5078 11.4426 7.60499 7.04756 11.2812C2.3806 8.22496 1.14853 6.51249 1 3.43164C3.91995 0.186652 4.86263 1.07004 7.01697 3.08889M7.04756 3.11756L7.01697 3.08889M7.04756 3.11756C7.03734 3.10798 7.02714 3.09842 7.01697 3.08889"
                  stroke="#FF0000" />
              </svg>
            </button>
          </div>

          <div class="added-item__select select">
            <div class="select__header">
              <input type="number" class="select__input input-reset" min="0" max="50" value="50">
              <div class="select__icon">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_735_8260)">
                    <path
                      d="M5.5575 6.44531L9 9.88031L12.4425 6.44531L13.5 7.50281L9 12.0028L4.5 7.50281L5.5575 6.44531Z"
                      fill="black" />
                  </g>
                  <defs>
                    <clipPath id="clip0_735_8260">
                      <rect width="18" height="18" fill="white" transform="matrix(0 1 -1 0 18 0)" />
                    </clipPath>
                  </defs>
                </svg>
              </div>
            </div>
            <div class="select__dropdown">
              <div class="select__item">5</div>
              <div class="select__item">10</div>
              <div class="select__item">15</div>
              <div class="select__item">20</div>
              <div class="select__item">25</div>
            </div>
          </div>
        </div>
        <div class="added-item__bottom">
          <span class="added-item__price">
            Цена:
            <span>1789руб.</span>
          </span>
        </div>
      </div>
      <div class="added-item favorites-section__item">
        <div class="added-item__image">
          <picture>
            <source srcset="./img/added/01-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/added/01.webp">
            <img src="./img/added/01.jpg" srcset="./img/added/01-2x.jpg 2x" alt="">
          </picture>
        </div>

        <div class="added-item__header">
          <span class="added-item__title">Коробки гофракартон</span>
          <div class="added-item__buttons">
            <button class="btn-reset added-item__btn added-item__btn--rm">&times;</button>
            <button class="btn-reset added-item__btn added-item__btn--like">
              <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7.04756 3.11756C8.75473 1.61196 9.72421 0.817436 12.1402 2.17559C14.5971 5.5078 11.4426 7.60499 7.04756 11.2812C2.3806 8.22496 1.14853 6.51249 1 3.43164C3.91995 0.186652 4.86263 1.07004 7.01697 3.08889L7.04756 3.11756Z"
                  fill="#FF0000" />
                <path
                  d="M7.04756 3.11756C8.75473 1.61196 9.72421 0.817436 12.1402 2.17559C14.5971 5.5078 11.4426 7.60499 7.04756 11.2812C2.3806 8.22496 1.14853 6.51249 1 3.43164C3.91995 0.186652 4.86263 1.07004 7.01697 3.08889M7.04756 3.11756L7.01697 3.08889M7.04756 3.11756C7.03734 3.10798 7.02714 3.09842 7.01697 3.08889"
                  stroke="#FF0000" />
              </svg>
            </button>
          </div>

          <div class="added-item__select select">
            <div class="select__header">
              <input type="number" class="select__input input-reset" min="0" max="50" value="50">
              <div class="select__icon">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_735_8260)">
                    <path
                      d="M5.5575 6.44531L9 9.88031L12.4425 6.44531L13.5 7.50281L9 12.0028L4.5 7.50281L5.5575 6.44531Z"
                      fill="black" />
                  </g>
                  <defs>
                    <clipPath id="clip0_735_8260">
                      <rect width="18" height="18" fill="white" transform="matrix(0 1 -1 0 18 0)" />
                    </clipPath>
                  </defs>
                </svg>
              </div>
            </div>
            <div class="select__dropdown">
              <div class="select__item">5</div>
              <div class="select__item">10</div>
              <div class="select__item">15</div>
              <div class="select__item">20</div>
              <div class="select__item">25</div>
            </div>
          </div>
        </div>
        <div class="added-item__bottom">
          <span class="added-item__price">
            Цена:
            <span>1789руб.</span>
          </span>
        </div>
      </div>
      <div class="added-item favorites-section__item">
        <div class="added-item__image">
          <picture>
            <source srcset="./img/added/01-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/added/01.webp">
            <img src="./img/added/01.jpg" srcset="./img/added/01-2x.jpg 2x" alt="">
          </picture>
        </div>

        <div class="added-item__header">
          <span class="added-item__title">Коробки гофракартон</span>
          <div class="added-item__buttons">
            <button class="btn-reset added-item__btn added-item__btn--rm">&times;</button>
            <button class="btn-reset added-item__btn added-item__btn--like">
              <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7.04756 3.11756C8.75473 1.61196 9.72421 0.817436 12.1402 2.17559C14.5971 5.5078 11.4426 7.60499 7.04756 11.2812C2.3806 8.22496 1.14853 6.51249 1 3.43164C3.91995 0.186652 4.86263 1.07004 7.01697 3.08889L7.04756 3.11756Z"
                  fill="#FF0000" />
                <path
                  d="M7.04756 3.11756C8.75473 1.61196 9.72421 0.817436 12.1402 2.17559C14.5971 5.5078 11.4426 7.60499 7.04756 11.2812C2.3806 8.22496 1.14853 6.51249 1 3.43164C3.91995 0.186652 4.86263 1.07004 7.01697 3.08889M7.04756 3.11756L7.01697 3.08889M7.04756 3.11756C7.03734 3.10798 7.02714 3.09842 7.01697 3.08889"
                  stroke="#FF0000" />
              </svg>
            </button>
          </div>

          <div class="added-item__select select">
            <div class="select__header">
              <input type="number" class="select__input input-reset" min="0" max="50" value="50">
              <div class="select__icon">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_735_8260)">
                    <path
                      d="M5.5575 6.44531L9 9.88031L12.4425 6.44531L13.5 7.50281L9 12.0028L4.5 7.50281L5.5575 6.44531Z"
                      fill="black" />
                  </g>
                  <defs>
                    <clipPath id="clip0_735_8260">
                      <rect width="18" height="18" fill="white" transform="matrix(0 1 -1 0 18 0)" />
                    </clipPath>
                  </defs>
                </svg>
              </div>
            </div>
            <div class="select__dropdown">
              <div class="select__item">5</div>
              <div class="select__item">10</div>
              <div class="select__item">15</div>
              <div class="select__item">20</div>
              <div class="select__item">25</div>
            </div>
          </div>
        </div>
        <div class="added-item__bottom">
          <span class="added-item__price">
            Цена:
            <span>1789руб.</span>
          </span>
        </div>
      </div>
      <div class="added-item favorites-section__item">
        <div class="added-item__image">
          <picture>
            <source srcset="./img/added/01-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/added/01.webp">
            <img src="./img/added/01.jpg" srcset="./img/added/01-2x.jpg 2x" alt="">
          </picture>
        </div>

        <div class="added-item__header">
          <span class="added-item__title">Коробки гофракартон</span>
          <div class="added-item__buttons">
            <button class="btn-reset added-item__btn added-item__btn--rm">&times;</button>
            <button class="btn-reset added-item__btn added-item__btn--like">
              <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7.04756 3.11756C8.75473 1.61196 9.72421 0.817436 12.1402 2.17559C14.5971 5.5078 11.4426 7.60499 7.04756 11.2812C2.3806 8.22496 1.14853 6.51249 1 3.43164C3.91995 0.186652 4.86263 1.07004 7.01697 3.08889L7.04756 3.11756Z"
                  fill="#FF0000" />
                <path
                  d="M7.04756 3.11756C8.75473 1.61196 9.72421 0.817436 12.1402 2.17559C14.5971 5.5078 11.4426 7.60499 7.04756 11.2812C2.3806 8.22496 1.14853 6.51249 1 3.43164C3.91995 0.186652 4.86263 1.07004 7.01697 3.08889M7.04756 3.11756L7.01697 3.08889M7.04756 3.11756C7.03734 3.10798 7.02714 3.09842 7.01697 3.08889"
                  stroke="#FF0000" />
              </svg>
            </button>
          </div>

          <div class="added-item__select select">
            <div class="select__header">
              <input type="number" class="select__input input-reset" min="0" max="50" value="50">
              <div class="select__icon">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_735_8260)">
                    <path
                      d="M5.5575 6.44531L9 9.88031L12.4425 6.44531L13.5 7.50281L9 12.0028L4.5 7.50281L5.5575 6.44531Z"
                      fill="black" />
                  </g>
                  <defs>
                    <clipPath id="clip0_735_8260">
                      <rect width="18" height="18" fill="white" transform="matrix(0 1 -1 0 18 0)" />
                    </clipPath>
                  </defs>
                </svg>
              </div>
            </div>
            <div class="select__dropdown">
              <div class="select__item">5</div>
              <div class="select__item">10</div>
              <div class="select__item">15</div>
              <div class="select__item">20</div>
              <div class="select__item">25</div>
            </div>
          </div>
        </div>
        <div class="added-item__bottom">
          <span class="added-item__price">
            Цена:
            <span>1789руб.</span>
          </span>
        </div>
      </div>
      <div class="added-item favorites-section__item">
        <div class="added-item__image">
          <picture>
            <source srcset="./img/added/01-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/added/01.webp">
            <img src="./img/added/01.jpg" srcset="./img/added/01-2x.jpg 2x" alt="">
          </picture>
        </div>

        <div class="added-item__header">
          <span class="added-item__title">Коробки гофракартон</span>
          <div class="added-item__buttons">
            <button class="btn-reset added-item__btn added-item__btn--rm">&times;</button>
            <button class="btn-reset added-item__btn added-item__btn--like">
              <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7.04756 3.11756C8.75473 1.61196 9.72421 0.817436 12.1402 2.17559C14.5971 5.5078 11.4426 7.60499 7.04756 11.2812C2.3806 8.22496 1.14853 6.51249 1 3.43164C3.91995 0.186652 4.86263 1.07004 7.01697 3.08889L7.04756 3.11756Z"
                  fill="#FF0000" />
                <path
                  d="M7.04756 3.11756C8.75473 1.61196 9.72421 0.817436 12.1402 2.17559C14.5971 5.5078 11.4426 7.60499 7.04756 11.2812C2.3806 8.22496 1.14853 6.51249 1 3.43164C3.91995 0.186652 4.86263 1.07004 7.01697 3.08889M7.04756 3.11756L7.01697 3.08889M7.04756 3.11756C7.03734 3.10798 7.02714 3.09842 7.01697 3.08889"
                  stroke="#FF0000" />
              </svg>
            </button>
          </div>

          <div class="added-item__select select">
            <div class="select__header">
              <input type="number" class="select__input input-reset" min="0" max="50" value="50">
              <div class="select__icon">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_735_8260)">
                    <path
                      d="M5.5575 6.44531L9 9.88031L12.4425 6.44531L13.5 7.50281L9 12.0028L4.5 7.50281L5.5575 6.44531Z"
                      fill="black" />
                  </g>
                  <defs>
                    <clipPath id="clip0_735_8260">
                      <rect width="18" height="18" fill="white" transform="matrix(0 1 -1 0 18 0)" />
                    </clipPath>
                  </defs>
                </svg>
              </div>
            </div>
            <div class="select__dropdown">
              <div class="select__item">5</div>
              <div class="select__item">10</div>
              <div class="select__item">15</div>
              <div class="select__item">20</div>
              <div class="select__item">25</div>
            </div>
          </div>
        </div>
        <div class="added-item__bottom">
          <span class="added-item__price">
            Цена:
            <span>1789руб.</span>
          </span>
        </div>
      </div>
      <div class="added-item favorites-section__item">
        <div class="added-item__image">
          <picture>
            <source srcset="./img/added/01-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/added/01.webp">
            <img src="./img/added/01.jpg" srcset="./img/added/01-2x.jpg 2x" alt="">
          </picture>
        </div>

        <div class="added-item__header">
          <span class="added-item__title">Коробки гофракартон</span>
          <div class="added-item__buttons">
            <button class="btn-reset added-item__btn added-item__btn--rm">&times;</button>
            <button class="btn-reset added-item__btn added-item__btn--like">
              <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7.04756 3.11756C8.75473 1.61196 9.72421 0.817436 12.1402 2.17559C14.5971 5.5078 11.4426 7.60499 7.04756 11.2812C2.3806 8.22496 1.14853 6.51249 1 3.43164C3.91995 0.186652 4.86263 1.07004 7.01697 3.08889L7.04756 3.11756Z"
                  fill="#FF0000" />
                <path
                  d="M7.04756 3.11756C8.75473 1.61196 9.72421 0.817436 12.1402 2.17559C14.5971 5.5078 11.4426 7.60499 7.04756 11.2812C2.3806 8.22496 1.14853 6.51249 1 3.43164C3.91995 0.186652 4.86263 1.07004 7.01697 3.08889M7.04756 3.11756L7.01697 3.08889M7.04756 3.11756C7.03734 3.10798 7.02714 3.09842 7.01697 3.08889"
                  stroke="#FF0000" />
              </svg>
            </button>
          </div>

          <div class="added-item__select select">
            <div class="select__header">
              <input type="number" class="select__input input-reset" min="0" max="50" value="50">
              <div class="select__icon">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_735_8260)">
                    <path
                      d="M5.5575 6.44531L9 9.88031L12.4425 6.44531L13.5 7.50281L9 12.0028L4.5 7.50281L5.5575 6.44531Z"
                      fill="black" />
                  </g>
                  <defs>
                    <clipPath id="clip0_735_8260">
                      <rect width="18" height="18" fill="white" transform="matrix(0 1 -1 0 18 0)" />
                    </clipPath>
                  </defs>
                </svg>
              </div>
            </div>
            <div class="select__dropdown">
              <div class="select__item">5</div>
              <div class="select__item">10</div>
              <div class="select__item">15</div>
              <div class="select__item">20</div>
              <div class="select__item">25</div>
            </div>
          </div>
        </div>
        <div class="added-item__bottom">
          <span class="added-item__price">
            Цена:
            <span>1789руб.</span>
          </span>
        </div>
      </div>
      <div class="added-item favorites-section__item">
        <div class="added-item__image">
          <picture>
            <source srcset="./img/added/01-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/added/01.webp">
            <img src="./img/added/01.jpg" srcset="./img/added/01-2x.jpg 2x" alt="">
          </picture>
        </div>

        <div class="added-item__header">
          <span class="added-item__title">Коробки гофракартон</span>
          <div class="added-item__buttons">
            <button class="btn-reset added-item__btn added-item__btn--rm">&times;</button>
            <button class="btn-reset added-item__btn added-item__btn--like">
              <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7.04756 3.11756C8.75473 1.61196 9.72421 0.817436 12.1402 2.17559C14.5971 5.5078 11.4426 7.60499 7.04756 11.2812C2.3806 8.22496 1.14853 6.51249 1 3.43164C3.91995 0.186652 4.86263 1.07004 7.01697 3.08889L7.04756 3.11756Z"
                  fill="#FF0000" />
                <path
                  d="M7.04756 3.11756C8.75473 1.61196 9.72421 0.817436 12.1402 2.17559C14.5971 5.5078 11.4426 7.60499 7.04756 11.2812C2.3806 8.22496 1.14853 6.51249 1 3.43164C3.91995 0.186652 4.86263 1.07004 7.01697 3.08889M7.04756 3.11756L7.01697 3.08889M7.04756 3.11756C7.03734 3.10798 7.02714 3.09842 7.01697 3.08889"
                  stroke="#FF0000" />
              </svg>
            </button>
          </div>

          <div class="added-item__select select">
            <div class="select__header">
              <input type="number" class="select__input input-reset" min="0" max="50" value="50">
              <div class="select__icon">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_735_8260)">
                    <path
                      d="M5.5575 6.44531L9 9.88031L12.4425 6.44531L13.5 7.50281L9 12.0028L4.5 7.50281L5.5575 6.44531Z"
                      fill="black" />
                  </g>
                  <defs>
                    <clipPath id="clip0_735_8260">
                      <rect width="18" height="18" fill="white" transform="matrix(0 1 -1 0 18 0)" />
                    </clipPath>
                  </defs>
                </svg>
              </div>
            </div>
            <div class="select__dropdown">
              <div class="select__item">5</div>
              <div class="select__item">10</div>
              <div class="select__item">15</div>
              <div class="select__item">20</div>
              <div class="select__item">25</div>
            </div>
          </div>
        </div>
        <div class="added-item__bottom">
          <span class="added-item__price">
            Цена:
            <span>1789руб.</span>
          </span>
        </div>
      </div>
      <div class="added-item favorites-section__item">
        <div class="added-item__image">
          <picture>
            <source srcset="./img/added/01-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/added/01.webp">
            <img src="./img/added/01.jpg" srcset="./img/added/01-2x.jpg 2x" alt="">
          </picture>
        </div>

        <div class="added-item__header">
          <span class="added-item__title">Коробки гофракартон</span>
          <div class="added-item__buttons">
            <button class="btn-reset added-item__btn added-item__btn--rm">&times;</button>
            <button class="btn-reset added-item__btn added-item__btn--like">
              <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7.04756 3.11756C8.75473 1.61196 9.72421 0.817436 12.1402 2.17559C14.5971 5.5078 11.4426 7.60499 7.04756 11.2812C2.3806 8.22496 1.14853 6.51249 1 3.43164C3.91995 0.186652 4.86263 1.07004 7.01697 3.08889L7.04756 3.11756Z"
                  fill="#FF0000" />
                <path
                  d="M7.04756 3.11756C8.75473 1.61196 9.72421 0.817436 12.1402 2.17559C14.5971 5.5078 11.4426 7.60499 7.04756 11.2812C2.3806 8.22496 1.14853 6.51249 1 3.43164C3.91995 0.186652 4.86263 1.07004 7.01697 3.08889M7.04756 3.11756L7.01697 3.08889M7.04756 3.11756C7.03734 3.10798 7.02714 3.09842 7.01697 3.08889"
                  stroke="#FF0000" />
              </svg>
            </button>
          </div>

          <div class="added-item__select select">
            <div class="select__header">
              <input type="number" class="select__input input-reset" min="0" max="50" value="50">
              <div class="select__icon">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_735_8260)">
                    <path
                      d="M5.5575 6.44531L9 9.88031L12.4425 6.44531L13.5 7.50281L9 12.0028L4.5 7.50281L5.5575 6.44531Z"
                      fill="black" />
                  </g>
                  <defs>
                    <clipPath id="clip0_735_8260">
                      <rect width="18" height="18" fill="white" transform="matrix(0 1 -1 0 18 0)" />
                    </clipPath>
                  </defs>
                </svg>
              </div>
            </div>
            <div class="select__dropdown">
              <div class="select__item">5</div>
              <div class="select__item">10</div>
              <div class="select__item">15</div>
              <div class="select__item">20</div>
              <div class="select__item">25</div>
            </div>
          </div>
        </div>
        <div class="added-item__bottom">
          <span class="added-item__price">
            Цена:
            <span>1789руб.</span>
          </span>
        </div>
      </div>
      <div class="added-item favorites-section__item">
        <div class="added-item__image">
          <picture>
            <source srcset="./img/added/01-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/added/01.webp">
            <img src="./img/added/01.jpg" srcset="./img/added/01-2x.jpg 2x" alt="">
          </picture>
        </div>

        <div class="added-item__header">
          <span class="added-item__title">Коробки гофракартон</span>
          <div class="added-item__buttons">
            <button class="btn-reset added-item__btn added-item__btn--rm">&times;</button>
            <button class="btn-reset added-item__btn added-item__btn--like">
              <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7.04756 3.11756C8.75473 1.61196 9.72421 0.817436 12.1402 2.17559C14.5971 5.5078 11.4426 7.60499 7.04756 11.2812C2.3806 8.22496 1.14853 6.51249 1 3.43164C3.91995 0.186652 4.86263 1.07004 7.01697 3.08889L7.04756 3.11756Z"
                  fill="#FF0000" />
                <path
                  d="M7.04756 3.11756C8.75473 1.61196 9.72421 0.817436 12.1402 2.17559C14.5971 5.5078 11.4426 7.60499 7.04756 11.2812C2.3806 8.22496 1.14853 6.51249 1 3.43164C3.91995 0.186652 4.86263 1.07004 7.01697 3.08889M7.04756 3.11756L7.01697 3.08889M7.04756 3.11756C7.03734 3.10798 7.02714 3.09842 7.01697 3.08889"
                  stroke="#FF0000" />
              </svg>
            </button>
          </div>

          <div class="added-item__select select">
            <div class="select__header">
              <input type="number" class="select__input input-reset" min="0" max="50" value="50">
              <div class="select__icon">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_735_8260)">
                    <path
                      d="M5.5575 6.44531L9 9.88031L12.4425 6.44531L13.5 7.50281L9 12.0028L4.5 7.50281L5.5575 6.44531Z"
                      fill="black" />
                  </g>
                  <defs>
                    <clipPath id="clip0_735_8260">
                      <rect width="18" height="18" fill="white" transform="matrix(0 1 -1 0 18 0)" />
                    </clipPath>
                  </defs>
                </svg>
              </div>
            </div>
            <div class="select__dropdown">
              <div class="select__item">5</div>
              <div class="select__item">10</div>
              <div class="select__item">15</div>
              <div class="select__item">20</div>
              <div class="select__item">25</div>
            </div>
          </div>
        </div>
        <div class="added-item__bottom">
          <span class="added-item__price">
            Цена:
            <span>1789руб.</span>
          </span>
        </div>
      </div>
    </div>
    <a href="./order.html" class="btn-reset btn favorites-section__btn favorites-section__btn--add order-btn">
      <span>оформить заказ</span>
      <svg width="37" height="8" viewBox="0 0 37 8" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M36.3536 4.63481C36.5488 4.43954 36.5488 4.12296 36.3536 3.9277L33.1716 0.745719C32.9763 0.550457 32.6597 0.550457 32.4645 0.745719C32.2692 0.940981 32.2692 1.25756 32.4645 1.45283L35.2929 4.28125L32.4645 7.10968C32.2692 7.30494 32.2692 7.62152 32.4645 7.81679C32.6597 8.01205 32.9763 8.01205 33.1716 7.81679L36.3536 4.63481ZM-4.37114e-08 4.78125L36 4.78125L36 3.78125L4.37114e-08 3.78125L-4.37114e-08 4.78125Z" />
      </svg>
    </a>


  </div>
</section>