<section class="catalogue-category">
  <div class="container">
    <div class="catalogue-gen__filter">
      <div class="catalogue-gen__header">
        <h2 class="catalogue-gen__title title3">Каталог</h2>
        <div class="catalogue-gen__line"></div>
        <span class="catalogue-gen__btn">
          <img src="./img/filter-icon.png" alt="button">
        </span>
      </div>
    </div>


    <div class="catalogue-category__items">
      <div class="catalogue-gen__item catalogue-item">
        <div class="catalogue-item__image">
          <picture>
            <source srcset="./img/catalogue/products/01-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/catalogue/products/01.webp">
            <img src="./img/catalogue/products/01.jpg" srcset="./img/catalogue/products/01-2x.jpg 2x" alt="">
          </picture>
        </div>
        <div class="catalogue-item__header">
          <span class="catalogue-item__name">
            Коробки <span class="catalogue-gen__count">(7)</span>
          </span>
          <span class="catalogue-item__buttons">
            <button class="btn-reset catalogue-item__btn">
              <img src="./img/cart-icon.png" alt="">
            </button>
            <button class="btn-reset catalogue-item__btn">
              <img src="./img/like-icon.svg" alt="">
            </button>
          </span>
        </div>
        <div class="catalogue-item__bottom">
          <a href="./catalogue-hook.html" class="catalogue-item__link btn btn-reset">
            <span>Перейти</span>
            <svg width="37" height="8" viewBox="0 0 37 8" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M36.8536 4.63481C37.0488 4.43954 37.0488 4.12296 36.8536 3.9277L33.6716 0.745719C33.4763 0.550457 33.1597 0.550457 32.9645 0.745719C32.7692 0.940981 32.7692 1.25756 32.9645 1.45283L35.7929 4.28125L32.9645 7.10968C32.7692 7.30494 32.7692 7.62152 32.9645 7.81679C33.1597 8.01205 33.4763 8.01205 33.6716 7.81679L36.8536 4.63481ZM0.5 4.78125L36.5 4.78125L36.5 3.78125L0.5 3.78125L0.5 4.78125Z" />
            </svg>
          </a>
        </div>
      </div>
      <div class="catalogue-gen__item catalogue-item">
        <div class="catalogue-item__image">
          <picture>
            <source srcset="./img/catalogue/products/01-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/catalogue/products/01.webp">
            <img src="./img/catalogue/products/01.jpg" srcset="./img/catalogue/products/01-2x.jpg 2x" alt="">
          </picture>
        </div>
        <div class="catalogue-item__header">
          <span class="catalogue-item__name">
            Пакеты <span class="catalogue-gen__count">(5)</span>
          </span>
          <span class="catalogue-item__buttons">
            <button class="btn-reset catalogue-item__btn">
              <img src="./img/cart-icon.png" alt="">
            </button>
            <button class="btn-reset catalogue-item__btn">
              <img src="./img/like-icon.svg" alt="">
            </button>
          </span>
        </div>
        <div class="catalogue-item__bottom">
          <a href="./catalogue-hook.html" class="catalogue-item__link btn btn-reset">
            <span>Перейти</span>
            <svg width="37" height="8" viewBox="0 0 37 8" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M36.8536 4.63481C37.0488 4.43954 37.0488 4.12296 36.8536 3.9277L33.6716 0.745719C33.4763 0.550457 33.1597 0.550457 32.9645 0.745719C32.7692 0.940981 32.7692 1.25756 32.9645 1.45283L35.7929 4.28125L32.9645 7.10968C32.7692 7.30494 32.7692 7.62152 32.9645 7.81679C33.1597 8.01205 33.4763 8.01205 33.6716 7.81679L36.8536 4.63481ZM0.5 4.78125L36.5 4.78125L36.5 3.78125L0.5 3.78125L0.5 4.78125Z" />
            </svg>
          </a>
        </div>
      </div>
      <div class="catalogue-gen__item catalogue-item">
        <div class="catalogue-item__image">
          <picture>
            <source srcset="./img/catalogue/products/01-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/catalogue/products/01.webp">
            <img src="./img/catalogue/products/01.jpg" srcset="./img/catalogue/products/01-2x.jpg 2x" alt="">
          </picture>
        </div>
        <div class="catalogue-item__header">
          <span class="catalogue-item__name">
            Ленты / бирки текстиль <span class="catalogue-gen__count">(1)</span>
          </span>
          <span class="catalogue-item__buttons">
            <button class="btn-reset catalogue-item__btn">
              <img src="./img/cart-icon.png" alt="">
            </button>
            <button class="btn-reset catalogue-item__btn">
              <img src="./img/like-icon.svg" alt="">
            </button>
          </span>
        </div>
        <div class="catalogue-item__bottom">
          <a href="./catalogue-hook.html" class="catalogue-item__link btn btn-reset">
            <span>Перейти</span>
            <svg width="37" height="8" viewBox="0 0 37 8" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M36.8536 4.63481C37.0488 4.43954 37.0488 4.12296 36.8536 3.9277L33.6716 0.745719C33.4763 0.550457 33.1597 0.550457 32.9645 0.745719C32.7692 0.940981 32.7692 1.25756 32.9645 1.45283L35.7929 4.28125L32.9645 7.10968C32.7692 7.30494 32.7692 7.62152 32.9645 7.81679C33.1597 8.01205 33.4763 8.01205 33.6716 7.81679L36.8536 4.63481ZM0.5 4.78125L36.5 4.78125L36.5 3.78125L0.5 3.78125L0.5 4.78125Z" />
            </svg>
          </a>
        </div>
      </div>
      <div class="catalogue-gen__item catalogue-item">
        <div class="catalogue-item__image">
          <picture>
            <source srcset="./img/catalogue/products/01-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/catalogue/products/01.webp">
            <img src="./img/catalogue/products/01.jpg" srcset="./img/catalogue/products/01-2x.jpg 2x" alt="">
          </picture>
        </div>
        <div class="catalogue-item__header">
          <span class="catalogue-item__name">
            Бумага упаковочная <span class="catalogue-gen__count">(1)</span>
          </span>
          <span class="catalogue-item__buttons">
            <button class="btn-reset catalogue-item__btn">
              <img src="./img/cart-icon.png" alt="">
            </button>
            <button class="btn-reset catalogue-item__btn">
              <img src="./img/like-icon.svg" alt="">
            </button>
          </span>
        </div>
        <div class="catalogue-item__bottom">
          <a href="./catalogue-hook.html" class="catalogue-item__link btn btn-reset">
            <span>Перейти</span>
            <svg width="37" height="8" viewBox="0 0 37 8" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M36.8536 4.63481C37.0488 4.43954 37.0488 4.12296 36.8536 3.9277L33.6716 0.745719C33.4763 0.550457 33.1597 0.550457 32.9645 0.745719C32.7692 0.940981 32.7692 1.25756 32.9645 1.45283L35.7929 4.28125L32.9645 7.10968C32.7692 7.30494 32.7692 7.62152 32.9645 7.81679C33.1597 8.01205 33.4763 8.01205 33.6716 7.81679L36.8536 4.63481ZM0.5 4.78125L36.5 4.78125L36.5 3.78125L0.5 3.78125L0.5 4.78125Z" />
            </svg>
          </a>
        </div>
      </div>




      <div class="catalogue-gen__item catalogue-item">
        <div class="catalogue-item__image">
          <picture>
            <source srcset="./img/catalogue/products/01-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/catalogue/products/01.webp">
            <img src="./img/catalogue/products/01.jpg" srcset="./img/catalogue/products/01-2x.jpg 2x" alt="">
          </picture>
        </div>
        <div class="catalogue-item__header">
          <span class="catalogue-item__name">
            Плечики <span class="catalogue-gen__count">(5)</span>
          </span>
          <span class="catalogue-item__buttons">
            <button class="btn-reset catalogue-item__btn">
              <img src="./img/cart-icon.png" alt="">
            </button>
            <button class="btn-reset catalogue-item__btn">
              <img src="./img/like-icon.svg" alt="">
            </button>
          </span>
        </div>
        <div class="catalogue-item__bottom">
          <a href="./catalogue-hook.html" class="catalogue-item__link btn btn-reset">
            <span>Перейти</span>
            <svg width="37" height="8" viewBox="0 0 37 8" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M36.8536 4.63481C37.0488 4.43954 37.0488 4.12296 36.8536 3.9277L33.6716 0.745719C33.4763 0.550457 33.1597 0.550457 32.9645 0.745719C32.7692 0.940981 32.7692 1.25756 32.9645 1.45283L35.7929 4.28125L32.9645 7.10968C32.7692 7.30494 32.7692 7.62152 32.9645 7.81679C33.1597 8.01205 33.4763 8.01205 33.6716 7.81679L36.8536 4.63481ZM0.5 4.78125L36.5 4.78125L36.5 3.78125L0.5 3.78125L0.5 4.78125Z" />
            </svg>
          </a>
        </div>
      </div>
      <div class="catalogue-gen__item catalogue-item">
        <div class="catalogue-item__image">
          <picture>
            <source srcset="./img/catalogue/products/01-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/catalogue/products/01.webp">
            <img src="./img/catalogue/products/01.jpg" srcset="./img/catalogue/products/01-2x.jpg 2x" alt="">
          </picture>
        </div>
        <div class="catalogue-item__header">
          <span class="catalogue-item__name">
            Шоколадки в обертке <span class="catalogue-gen__count">(1)</span>
          </span>
          <span class="catalogue-item__buttons">
            <button class="btn-reset catalogue-item__btn">
              <img src="./img/cart-icon.png" alt="">
            </button>
            <button class="btn-reset catalogue-item__btn">
              <img src="./img/like-icon.svg" alt="">
            </button>
          </span>
        </div>
        <div class="catalogue-item__bottom">
          <a href="./catalogue-hook.html" class="catalogue-item__link btn btn-reset">
            <span>Перейти</span>
            <svg width="37" height="8" viewBox="0 0 37 8" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M36.8536 4.63481C37.0488 4.43954 37.0488 4.12296 36.8536 3.9277L33.6716 0.745719C33.4763 0.550457 33.1597 0.550457 32.9645 0.745719C32.7692 0.940981 32.7692 1.25756 32.9645 1.45283L35.7929 4.28125L32.9645 7.10968C32.7692 7.30494 32.7692 7.62152 32.9645 7.81679C33.1597 8.01205 33.4763 8.01205 33.6716 7.81679L36.8536 4.63481ZM0.5 4.78125L36.5 4.78125L36.5 3.78125L0.5 3.78125L0.5 4.78125Z" />
            </svg>
          </a>
        </div>
      </div>
      <div class="catalogue-gen__item catalogue-item">
        <div class="catalogue-item__image">
          <picture>
            <source srcset="./img/catalogue/products/01-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/catalogue/products/01.webp">
            <img src="./img/catalogue/products/01.jpg" srcset="./img/catalogue/products/01-2x.jpg 2x" alt="">
          </picture>
        </div>
        <div class="catalogue-item__header">
          <span class="catalogue-item__name">
            Полиграфия <span class="catalogue-gen__count">(1)</span>
          </span>
          <span class="catalogue-item__buttons">
            <button class="btn-reset catalogue-item__btn">
              <img src="./img/cart-icon.png" alt="">
            </button>
            <button class="btn-reset catalogue-item__btn">
              <img src="./img/like-icon.svg" alt="">
            </button>
          </span>
        </div>
        <div class="catalogue-item__bottom">
          <a href="./catalogue-hook.html" class="catalogue-item__link btn btn-reset">
            <span>Перейти</span>
            <svg width="37" height="8" viewBox="0 0 37 8" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M36.8536 4.63481C37.0488 4.43954 37.0488 4.12296 36.8536 3.9277L33.6716 0.745719C33.4763 0.550457 33.1597 0.550457 32.9645 0.745719C32.7692 0.940981 32.7692 1.25756 32.9645 1.45283L35.7929 4.28125L32.9645 7.10968C32.7692 7.30494 32.7692 7.62152 32.9645 7.81679C33.1597 8.01205 33.4763 8.01205 33.6716 7.81679L36.8536 4.63481ZM0.5 4.78125L36.5 4.78125L36.5 3.78125L0.5 3.78125L0.5 4.78125Z" />
            </svg>
          </a>
        </div>
      </div>
    </div>


    <div class="catalogue-category__items">
      <div class="catalogue-gen__item catalogue-item">
        <div class="catalogue-item__image">
          <picture>
            <source srcset="./img/catalogue/products/01-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/catalogue/products/01.webp">
            <img src="./img/catalogue/products/01.jpg" srcset="./img/catalogue/products/01-2x.jpg 2x" alt="">
          </picture>
        </div>
        <div class="catalogue-item__header">
          <span class="catalogue-item__name">
            Для одежды
          </span>
          <span class="catalogue-item__buttons">
            <button class="btn-reset catalogue-item__btn">
              <img src="./img/cart-icon.png" alt="">
            </button>
            <button class="btn-reset catalogue-item__btn">
              <img src="./img/like-icon.svg" alt="">
            </button>
          </span>
        </div>
        <div class="catalogue-item__bottom">
          <a href="./catalogue-hook.html" class="catalogue-item__link btn btn-reset">
            <span>Перейти</span>
            <svg width="37" height="8" viewBox="0 0 37 8" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M36.8536 4.63481C37.0488 4.43954 37.0488 4.12296 36.8536 3.9277L33.6716 0.745719C33.4763 0.550457 33.1597 0.550457 32.9645 0.745719C32.7692 0.940981 32.7692 1.25756 32.9645 1.45283L35.7929 4.28125L32.9645 7.10968C32.7692 7.30494 32.7692 7.62152 32.9645 7.81679C33.1597 8.01205 33.4763 8.01205 33.6716 7.81679L36.8536 4.63481ZM0.5 4.78125L36.5 4.78125L36.5 3.78125L0.5 3.78125L0.5 4.78125Z" />
            </svg>
          </a>
        </div>
      </div>
      <div class="catalogue-gen__item catalogue-item">
        <div class="catalogue-item__image">
          <picture>
            <source srcset="./img/catalogue/products/01-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/catalogue/products/01.webp">
            <img src="./img/catalogue/products/01.jpg" srcset="./img/catalogue/products/01-2x.jpg 2x" alt="">
          </picture>
        </div>
        <div class="catalogue-item__header">
          <span class="catalogue-item__name">
            Для косметики
          </span>
          <span class="catalogue-item__buttons">
            <button class="btn-reset catalogue-item__btn">
              <img src="./img/cart-icon.png" alt="">
            </button>
            <button class="btn-reset catalogue-item__btn">
              <img src="./img/like-icon.svg" alt="">
            </button>
          </span>
        </div>
        <div class="catalogue-item__bottom">
          <a href="./catalogue-hook.html" class="catalogue-item__link btn btn-reset">
            <span>Перейти</span>
            <svg width="37" height="8" viewBox="0 0 37 8" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M36.8536 4.63481C37.0488 4.43954 37.0488 4.12296 36.8536 3.9277L33.6716 0.745719C33.4763 0.550457 33.1597 0.550457 32.9645 0.745719C32.7692 0.940981 32.7692 1.25756 32.9645 1.45283L35.7929 4.28125L32.9645 7.10968C32.7692 7.30494 32.7692 7.62152 32.9645 7.81679C33.1597 8.01205 33.4763 8.01205 33.6716 7.81679L36.8536 4.63481ZM0.5 4.78125L36.5 4.78125L36.5 3.78125L0.5 3.78125L0.5 4.78125Z" />
            </svg>
          </a>
        </div>
      </div>
      <div class="catalogue-gen__item catalogue-item">
        <div class="catalogue-item__image">
          <picture>
            <source srcset="./img/catalogue/products/01-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/catalogue/products/01.webp">
            <img src="./img/catalogue/products/01.jpg" srcset="./img/catalogue/products/01-2x.jpg 2x" alt="">
          </picture>
        </div>
        <div class="catalogue-item__header">
          <span class="catalogue-item__name">
            Для парфюмерии
          </span>
          <span class="catalogue-item__buttons">
            <button class="btn-reset catalogue-item__btn">
              <img src="./img/cart-icon.png" alt="">
            </button>
            <button class="btn-reset catalogue-item__btn">
              <img src="./img/like-icon.svg" alt="">
            </button>
          </span>
        </div>
        <div class="catalogue-item__bottom">
          <a href="./catalogue-hook.html" class="catalogue-item__link btn btn-reset">
            <span>Перейти</span>
            <svg width="37" height="8" viewBox="0 0 37 8" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M36.8536 4.63481C37.0488 4.43954 37.0488 4.12296 36.8536 3.9277L33.6716 0.745719C33.4763 0.550457 33.1597 0.550457 32.9645 0.745719C32.7692 0.940981 32.7692 1.25756 32.9645 1.45283L35.7929 4.28125L32.9645 7.10968C32.7692 7.30494 32.7692 7.62152 32.9645 7.81679C33.1597 8.01205 33.4763 8.01205 33.6716 7.81679L36.8536 4.63481ZM0.5 4.78125L36.5 4.78125L36.5 3.78125L0.5 3.78125L0.5 4.78125Z" />
            </svg>
          </a>
        </div>
      </div>
      <div class="catalogue-gen__item catalogue-item">
        <div class="catalogue-item__image">
          <picture>
            <source srcset="./img/catalogue/products/01-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/catalogue/products/01.webp">
            <img src="./img/catalogue/products/01.jpg" srcset="./img/catalogue/products/01-2x.jpg 2x" alt="">
          </picture>
        </div>
        <div class="catalogue-item__header">
          <span class="catalogue-item__name">
            Срок изготовления 1-5 дней
          </span>
          <span class="catalogue-item__buttons">
            <button class="btn-reset catalogue-item__btn">
              <img src="./img/cart-icon.png" alt="">
            </button>
            <button class="btn-reset catalogue-item__btn">
              <img src="./img/like-icon.svg" alt="">
            </button>
          </span>
        </div>
        <div class="catalogue-item__bottom">
          <a href="./catalogue-hook.html" class="catalogue-item__link btn btn-reset">
            <span>Перейти</span>
            <svg width="37" height="8" viewBox="0 0 37 8" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M36.8536 4.63481C37.0488 4.43954 37.0488 4.12296 36.8536 3.9277L33.6716 0.745719C33.4763 0.550457 33.1597 0.550457 32.9645 0.745719C32.7692 0.940981 32.7692 1.25756 32.9645 1.45283L35.7929 4.28125L32.9645 7.10968C32.7692 7.30494 32.7692 7.62152 32.9645 7.81679C33.1597 8.01205 33.4763 8.01205 33.6716 7.81679L36.8536 4.63481ZM0.5 4.78125L36.5 4.78125L36.5 3.78125L0.5 3.78125L0.5 4.78125Z" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>