<section class="catalogue-cta">
  <div class="container">
    <div class="catalogue-cta__header">
      <h2 class="catalogue-cta__title">
        подпишись на нас
      </h2>
      <p class="catalogue-cta__subtitle title3">
        в социальной
        <span class="highlite">сети</span>
      </p>
    </div>

    <div class="catalogue-cta__container">
      <div class="catalogue-cta__image">
        <picture>
          <source srcset="./img/about/03-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/about/03.webp">
          <img src="./img/about/03.jpg" srcset="./img/about/03-2x.jpg 2x" alt="">
        </picture>

        <div class="catalogue-cta__img">
          <picture>
            <source srcset="./img/catalogue/cta/01-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/catalogue/cta/01.webp">
            <img src="./img/catalogue/cta/01.jpg" srcset="./img/catalogue/cta/01-2x.jpg 2x" alt="">
          </picture>
        </div>
      </div>
      <div class="catalogue-cta__content">
        <p class="catalogue-cta__desc">
          Лучшие акции, главные новости и персональные предложения, от PRINT INSIGHT
        </p>
        <a href="#" class="btn catalogue-cta__btn">
          <span>Подписаться</span>
          <svg width="37" height="8" viewBox="0 0 37 8" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M36.3536 4.35356C36.5488 4.15829 36.5488 3.84171 36.3536 3.64645L33.1716 0.464469C32.9763 0.269207 32.6597 0.269207 32.4645 0.464469C32.2692 0.659731 32.2692 0.976314 32.4645 1.17158L35.2929 4L32.4645 6.82843C32.2692 7.02369 32.2692 7.34027 32.4645 7.53554C32.6597 7.7308 32.9763 7.7308 33.1716 7.53554L36.3536 4.35356ZM-4.37114e-08 4.5L36 4.5L36 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>