<section class="concl">
  <div class="concl__container container">
    <div class="concl__text" data-aos="custom-fade-up">
      <h3 class="concl__title pack-title">Заключение:</h3>
      <p class="concl__desc pack-desc">
        Правильно преподнести товар — настоящее искусство, ведь от упаковки зависит, будет товар востребован или нет.
        Если
        товар в непривлекательной упаковке, то шансов на успех почти нет.
      </p>
    </div>
    <h2 class="concl__subtitle">
      <span>Мы закрыли потребности наших клиентов</span>
      <span>Делегируйте нам все заботы на нас</span>
    </h2>

    <div class="concl__overlay"></div>
  </div>
</section>