<section class="delivery-section">
  <div class="container">
    <h2 class="title3 delivery-section__title">Доставка</h2>
    <p class="delivery-section__desc">
      доставки по рф совершаем следующими тк:
    </p>

    <div class="delivery-section__row">
      <div class="delivery-section__warning warning">
        <span class="warning__title">Важно!</span>
        <p class="warning__desc">объемные габариты более 5 кг, ТК с ул.Королева 40 к 5 забирают сами!</p>
        <p class="warning__desc">Менее 5 кг отвозим до ТК сами!</p>
      </div>
      <div class="delivery-section__way way">
        <div class="way__text">
          <span class="way__title">ПЭК</span>
          <p class="way__desc">
            Доставка до двери или до склада (срок доставки 5-10 рабочих дней )
          </p>
        </div>
        <div class="way__logo">
          <img src="./img/delivery/01.svg" alt="">
        </div>
      </div>
      <div class="delivery-section__way way">
        <div class="way__text">
          <span class="way__title">СДЭК</span>
          <p class="way__desc">
            Доставка до двери или до склада от 1 рабочего дня
          </p>
        </div>
        <div class="way__logo">
          <img src="./img/delivery/02.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>