<section class="faq-section">

  <div class="faq-section__container container">
    <div class="faq-section__images">
      <picture>
        <source srcset="./img/faq/01-4x.webp">
        <img src="./img/faq/01-4x.png" alt="FAQ">
      </picture>
    </div>

    <div class="faq-section__faq">
      <h2 class="faq-section__title title3">вопрос-ответ</h2>
      <ul class="list-reset faq-section__list">
        <li class="faq-section__item">
          <div class="faq-section__header" data-cursor="-text" data-cursor-text="Открыть"
            data-cursor-stick=".cursor-stick-delivery">
            <span>Как осуществляется доставка?</span>
            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"
              class="cursor-stick-delivery">
              <g clip-path="url(#clip0_2562_30055)">
                <path d="M9.88 11.9531L16 18.0598L22.12 11.9531L24 13.8331L16 21.8331L8 13.8331L9.88 11.9531Z"
                  fill="black" />
              </g>
              <defs>
                <clipPath id="clip0_2562_30055">
                  <rect width="32" height="32" fill="white" transform="translate(0 0.5)" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="faq-section__content">
            <p class="faq-section__desc">
              Срок изготовления на полиграфию, ленты, пакеты с лентой от 10 единиц от 3 рабочих дней, упаковка от 10
              рабочих дней уточняйте у менеджера на момент заказа. Возможно взять срочный заказ с уменьшением сроков.
            </p>
          </div>
        </li>
        <li class="faq-section__item">
          <div class="faq-section__header" data-cursor="-text" data-cursor-text="Открыть"
            data-cursor-stick=".cursor-stick-tir">
            <span>Какой минимальный тираж?</span>
            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"
              class="cursor-stick-tir">
              <g clip-path="url(#clip0_2562_30055)">
                <path d="M9.88 11.9531L16 18.0598L22.12 11.9531L24 13.8331L16 21.8331L8 13.8331L9.88 11.9531Z"
                  fill="black" />
              </g>
              <defs>
                <clipPath id="clip0_2562_30055">
                  <rect width="32" height="32" fill="white" transform="translate(0 0.5)" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="faq-section__content">
            <p class="faq-section__desc">
              Срок изготовления на полиграфию, ленты, пакеты с лентой от 10 единиц от 3 рабочих дней, упаковка от 10
              рабочих дней уточняйте у менеджера на момент заказа. Возможно взять срочный заказ с уменьшением сроков.
            </p>
          </div>
        </li>
        <li class="faq-section__item">
          <div class="faq-section__header" data-cursor="-text" data-cursor-text="Открыть"
            data-cursor-stick=".cursor-stick-prod">
            <span>Какие сроки изготовления?</span>
            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"
              class="cursor-stick-prod">
              <g clip-path="url(#clip0_2562_30055)">
                <path d="M9.88 11.9531L16 18.0598L22.12 11.9531L24 13.8331L16 21.8331L8 13.8331L9.88 11.9531Z"
                  fill="black" />
              </g>
              <defs>
                <clipPath id="clip0_2562_30055">
                  <rect width="32" height="32" fill="white" transform="translate(0 0.5)" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="faq-section__content">
            <p class="faq-section__desc">
              Срок изготовления на полиграфию, ленты, пакеты с лентой от 10 единиц от 3 рабочих дней, упаковка от 10
              рабочих дней уточняйте у менеджера на момент заказа. Возможно взять срочный заказ с уменьшением сроков.
            </p>
          </div>
        </li>
        <li class="faq-section__item">
          <div class="faq-section__header" data-cursor="-text" data-cursor-text="Открыть"
            data-cursor-stick=".cursor-stick-sum">
            <span>Какая минимальная сумма заказа?</span>
            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"
              class="cursor-stick-sum">
              <g clip-path="url(#clip0_2562_30055)">
                <path d="M9.88 11.9531L16 18.0598L22.12 11.9531L24 13.8331L16 21.8331L8 13.8331L9.88 11.9531Z"
                  fill="black" />
              </g>
              <defs>
                <clipPath id="clip0_2562_30055">
                  <rect width="32" height="32" fill="white" transform="translate(0 0.5)" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="faq-section__content">
            <p class="faq-section__desc">
              Срок изготовления на полиграфию, ленты, пакеты с лентой от 10 единиц от 3 рабочих дней, упаковка от 10
              рабочих дней уточняйте у менеджера на момент заказа. Возможно взять срочный заказ с уменьшением сроков.
            </p>
          </div>
        </li>
        <li class="faq-section__item">
          <div class="faq-section__header" data-cursor="-text" data-cursor-text="Открыть"
            data-cursor-stick=".cursor-stick-logo">
            <span>У нас нет логотипа, нужна упаковка, что делать?</span>
            <svg class="cursor-stick-logo" width="32" height="33" viewBox="0 0 32 33" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_2562_30055)">
                <path d="M9.88 11.9531L16 18.0598L22.12 11.9531L24 13.8331L16 21.8331L8 13.8331L9.88 11.9531Z"
                  fill="black" />
              </g>
              <defs>
                <clipPath id="clip0_2562_30055">
                  <rect width="32" height="32" fill="white" transform="translate(0 0.5)" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="faq-section__content">
            <p class="faq-section__desc">
              Срок изготовления на полиграфию, ленты, пакеты с лентой от 10 единиц от 3 рабочих дней, упаковка от 10
              рабочих дней уточняйте у менеджера на момент заказа. Возможно взять срочный заказ с уменьшением сроков.
            </p>
          </div>
        </li>
        <li class="faq-section__item">
          <div class="faq-section__header" data-cursor="-text" data-cursor-text="Открыть"
            data-cursor-stick=".cursor-stick-more">
            <span>Что еще можно у вас заказать помимо брендированных пакетов?</span>
            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg"
              class="cursor-stick-more">
              <g clip-path="url(#clip0_2562_30055)">
                <path d="M9.88 11.9531L16 18.0598L22.12 11.9531L24 13.8331L16 21.8331L8 13.8331L9.88 11.9531Z"
                  fill="black" />
              </g>
              <defs>
                <clipPath id="clip0_2562_30055">
                  <rect width="32" height="32" fill="white" transform="translate(0 0.5)" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="faq-section__content">
            <p class="faq-section__desc">
              Срок изготовления на полиграфию, ленты, пакеты с лентой от 10 единиц от 3 рабочих дней, упаковка от 10
              рабочих дней уточняйте у менеджера на момент заказа. Возможно взять срочный заказ с уменьшением сроков.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>