<div class="filters">
  <button class="btn-reset filters__close">
    <img src="./img/cross.svg" alt="&times;">
  </button>
  <div class="filters__header">
    <button class="filters__btn btn-reset btn active" data-filter-btn="with-print">
      <span>Упаковка с печатью</span>&nbsp;
      <span class="value">(7)</span>
    </button>
    <button class="filters__btn btn-reset btn" data-filter-btn="without-print">
      <span>Упаковка без печати</span>&nbsp;
      <span class="value">(6)</span>
    </button>
    <button class="filters__btn btn-reset btn" data-filter-btn="service">
      <span>Услуги</span>&nbsp;
      <span class="value">(1)</span>
    </button>
  </div>
  <div class="filters__content active" data-filters-content="with-print">
    <div class="filters__block">
      <div class="filters__row">
        <button class="filters__btn btn-reset btn">
          <span>Коробки</span>&nbsp;
          <span class="value">(1)</span>
        </button>
        <button class="filters__btn btn-reset btn">
          <span>Пакеты</span>&nbsp;
          <span class="value">(1)</span>
        </button>
        <button class="filters__btn btn-reset btn">
          <span>Ленты / Бирки текстиль</span>&nbsp;
          <span class="value">(1)</span>
        </button>
      </div>
      <div class="filters__row">
        <button class="filters__btn btn-reset btn">
          <span>Бумага упаковочная</span>&nbsp;
          <span class="value">(10)</span>
        </button>
        <button class="filters__btn btn-reset btn">
          <span>Плечики</span>
          <span class="value">(8)</span>
        </button>
        <button class="filters__btn btn-reset btn">
          <span>Полиграфия</span>&nbsp;
          <span class="value">(30)</span>
        </button>
        <button class="filters__btn btn-reset btn">
          <span>Шоколад в обертке</span>
          <span class="value">(8)</span>
        </button>
      </div>
    </div>
    <div class="filters__block">
      <div class="filters__row">
        <button class="filters__btn btn-reset btn">
          <span>Для одежды</span>&nbsp;
          <span class="value">(8)</span>
        </button>
        <button class="filters__btn btn-reset btn">
          <span>Для косметики</span>
          <span class="value">(8)</span>
        </button>
        <button class="filters__btn btn-reset btn">
          <span>Для парфюмерии</span>&nbsp;
          <span class="value">(8)</span>
        </button>
        <button class="filters__btn btn-reset btn">
          <span>Срок изготовления 1-5 дней</span>
        </button>
      </div>
    </div>
  </div>

  <div class="filters__content" data-filters-content="without-print">
    <div class="filters__row">
      <button class="filters__btn btn-reset btn">
        <span>Коробки</span>&nbsp;
        <span class="value">(1)</span>
      </button>
      <button class="filters__btn btn-reset btn">
        <span>Пакеты</span>&nbsp;
        <span class="value">(1)</span>
      </button>
      <button class="filters__btn btn-reset btn">
        <span>Тишью</span>&nbsp;
        <span class="value">(1)</span>
      </button>
    </div>
    <div class="filters__row">
      <button class="filters__btn btn-reset btn">
        <span>Конфеты</span>&nbsp;
        <span class="value">(8)</span>
      </button>
      <button class="filters__btn btn-reset btn">
        <span>Держатели</span>
        <span class="value">(8)</span>
      </button>
      <button class="filters__btn btn-reset btn">
        <span>Конфети</span>&nbsp;
        <span class="value">(8)</span>
      </button>
    </div>
  </div>


  <div class="filters__content" data-filters-content="service">
    <div class="filters__row">
      <button class="filters__btn btn-reset btn">
        <span>услуга выезд менеджера с образцами и подготовленой призентацией</span>&nbsp;
        <span class="value">(1)</span>
      </button>

    </div>
  </div>
</div>