<header class="header">
  <div class="header__container container">
    <span class="header__city">
      <img src="./img/map-icon.png" alt="">
      Москва и мо
    </span>
    <a href="./" class="logo header__logo">
      <span class="logo__top">Принт инсайт</span>
      <span class="logo__bottom">История уникального бренда</span>
    </a>
    <div class="header__buttons">
      <button class="header__btn btn-reset">
        <img src="./img/search-icon.png" alt="">
      </button>
      <a href="./favorites.html" class="header__btn btn-reset">
        <img src="./img/like-icon.svg" alt="">
      </a>
      <a href="./cart.html" class="header__btn btn-reset">
        <img src="./img/cart-icon.png" alt="">
      </a>
    </div>
  </div>
  <div class="header__container header__container--center container">
    <nav class="nav header__nav">
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a href="./" class="nav__link">главная</a>
        </li>
        <li class="nav__item">
          <a href="./catalogue-gen.html" class="nav__link">каталог</a>
        </li>
        <li class="nav__item">
          <a href="./services.html" class="nav__link">доп услуги</a>
        </li>
        <li class="nav__item">
          <a href="./about.html" class="nav__link">о нас</a>
        </li>
        <li class="nav__item">
          <a href="./delivery.html" class="nav__link">доставка</a>
        </li>
        <li class="nav__item">
          <a href="./faq.html" class="nav__link">вопрос-ответ</a>
        </li>
        <li class="nav__item">
          <a href="./contacts.html" class="nav__link">контакты</a>
        </li>
        <li class="nav__item">
          <a href="./negative.html" class="nav__link">негатив</a>
        </li>
      </ul>
    </nav>
  </div>
</header>