<header class="header">
  <div class="header__container container">
    <a href="./" class="header__logo logo" data-cursor="-lg">
      <span class="logo__top">Принт инсайт</span>
      <span class="logo__bottom">История уникального бренда</span>
    </a>

    <div class="header__menu header-menu">
      <div class="header-menu__item">
        <div class="header-menu__icon header-nav-btn" data-cursor="-lg">
          <img src="./img/menu-icon.png" alt="">
        </div>
      </div>
      <div class="header-menu__item">
        <div class="header-menu__icon header-search-btn" data-cursor="-lg">
          <img src="./img/search-icon.png" alt="">
        </div>
      </div>
      <div class="header-menu__item">
        <a href="./" class="header-menu__icon" data-cursor="-lg">
          <img src="./img/home-icon.png" alt="">
        </a>
      </div>
      <div class="header-menu__item">
        <a href="./favorites.html" class="header-menu__icon" data-cursor="-lg">
          <img src="./img/like-icon.svg" alt="">
        </a>
      </div>
      <div class="header-menu__item">
        <a href="./cart.html" class="header-menu__icon" data-cursor="-lg">
          <img src="./img/cart-icon.png" alt="">
        </a>
      </div>
    </div>
  </div>
  <nav class="header__nav nav header-nav">
    <ul class="list-reset nav__list">
      <li class="nav__item">
        <a href="./" class="nav__link" data-cursor="-lg">Главная</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" id="catalogue-nav" data-cursor="-lg">Каталог</a>
      </li>
      <li class="nav__item">
        <a href="./services.html" class="nav__link" data-cursor="-lg">Доп услуги</a>
      </li>
      <li class="nav__item">
        <a href="./about.html" class="nav__link" data-cursor="-lg">О нас</a>
      </li>
      <li class="nav__item">
        <a href="./delivery.html" class="nav__link" data-cursor="-lg">Доставка</a>
      </li>
      <li class="nav__item">
        <a href="./faq.html" class="nav__link" data-cursor="-lg">Вопрос-ответ</a>
      </li>
      <li class="nav__item">
        <a href="./contacts.html" class="nav__link" data-cursor="-lg">Контакты</a>
      </li>
      <li class="nav__item">
        <a href="./negative.html" class="nav__link" data-cursor="-lg">Негатив</a>
      </li>
    </ul>
  </nav>
  <div class="header__catalogue header-catalogue">
    <div class="container">
      <ul class="list-reset header-catalogue__list">
        <li class="header-catalogue__item">
          <a href="#" class="header-catalogue__link nav__link header-catalogue__heading">
            Упаковка с печатью
          </a>
          <ul class="list-reset header-catalogue__list">
            <li class="header-catalogue__item">
              <a href="#" class="header-catalogue__link nav__link">
                Коробки
              </a>
            </li>
            <li class="header-catalogue__item">
              <a href="#" class="header-catalogue__link nav__link">
                Пакеты
              </a>
            </li>
            <li class="header-catalogue__item">
              <a href="#" class="header-catalogue__link nav__link">
                Ленты / бирки текстиль
              </a>
            </li>
            <li class="header-catalogue__item">
              <a href="#" class="header-catalogue__link nav__link">
                Бумага упаковочная
              </a>
            </li>
            <li class="header-catalogue__item">
              <a href="#" class="header-catalogue__link nav__link">
                Плечики
              </a>
            </li>
            <li class="header-catalogue__item">
              <a href="#" class="header-catalogue__link nav__link">
                Полиграфия
              </a>
            </li>
            <li class="header-catalogue__item">
              <a href="#" class="header-catalogue__link nav__link">
                Шоколад в обертке
              </a>
            </li>
            <li class="header-catalogue__item">
              <a href="#" class="header-catalogue__link nav__link">
                Для одежды
              </a>
            </li>
            <li class="header-catalogue__item">
              <a href="#" class="header-catalogue__link nav__link">
                Для косметики
              </a>
            </li>
            <li class="header-catalogue__item">
              <a href="#" class="header-catalogue__link nav__link">
                Для парфюмерии
              </a>
            </li>
            <li class="header-catalogue__item">
              <a href="#" class="header-catalogue__link nav__link">
                Срок изготовления 1-5 дней
              </a>
            </li>
          </ul>
        </li>
        <li class="header-catalogue__item">
          <a href="#" class="header-catalogue__link nav__link header-catalogue__heading">
            Упаковка без печати
          </a>
          <ul class="list-reset header-catalogue__list">
            <li class="header-catalogue__item">
              <a href="#" class="header-catalogue__link nav__link">
                Коробки
              </a>
            </li>
            <li class="header-catalogue__item">
              <a href="#" class="header-catalogue__link nav__link">
                Пакеты
              </a>
            </li>
            <li class="header-catalogue__item">
              <a href="#" class="header-catalogue__link nav__link">
                Тишью
              </a>
            </li>
            <li class="header-catalogue__item">
              <a href="#" class="header-catalogue__link nav__link">
                Конфеты
              </a>
            </li>
            <li class="header-catalogue__item">
              <a href="#" class="header-catalogue__link nav__link">
                Держатели
              </a>
            </li>
            <li class="header-catalogue__item">
              <a href="#" class="header-catalogue__link nav__link">
                Конфети
              </a>
            </li>
          </ul>
        </li>
        <li class="header-catalogue__item">
          <a href="#" class="header-catalogue__link nav__link header-catalogue__heading">
            Услуги
          </a>
          <ul class="list-reset header-catalogue__list">
            <li class="header-catalogue__item">
              <a href="#" class="header-catalogue__link nav__link">
                Услуга выезда менеджера с образцами и подготовленной презентацией
              </a>
            </li>

          </ul>
        </li>
      </ul>
    </div>
  </div>
  <form action="#" class="header__search header-search">
    <div class="container header-search__container">
      <label class="header-search__label">
        <input type="text" class="header-search__input" placeholder="Введите ваш запрос">
        <button class="btn-reset header-search__btn" data-cursor="-lg">
          <svg width="36" height="9" viewBox="0 0 36 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M35.3536 4.85355C35.5488 4.65829 35.5488 4.34171 35.3536 4.14645L32.1716 0.964466C31.9763 0.769204 31.6597 0.769204 31.4645 0.964466C31.2692 1.15973 31.2692 1.47631 31.4645 1.67157L34.2929 4.5L31.4645 7.32843C31.2692 7.52369 31.2692 7.84027 31.4645 8.03553C31.6597 8.2308 31.9763 8.2308 32.1716 8.03553L35.3536 4.85355ZM0 5H35V4H0V5Z"
              fill="#4B4747" />
          </svg>
        </button>
      </label>
    </div>
  </form>
</header>