<section class="look">
  <div class="look__container">
    <div class="look__image">
      <picture>
        <source srcset="./img/girls-2x.webp" media="(min-width: 1900px)">
        <source srcset="./img/girls.webp">
        <img src="./img/girls.png" srcset="./img/girls-2x.png" alt="">
      </picture>
    </div>
    <div class="look__content">
      <h2 class="h2 look__title" data-aos="custom-fade-up">
        все для завершения образа Вашей уникальной упаковки
      </h2>
      <a href="#" class="btn look__btn" data-aos="custom-fade-up" data-aos-delay="400">
        <span>в каталог</span>
        <svg width="130" height="16" viewBox="0 0 130 16" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M129.707 8.70711C130.098 8.31658 130.098 7.68342 129.707 7.29289L123.343 0.928932C122.953 0.538408 122.319 0.538408 121.929 0.928932C121.538 1.31946 121.538 1.95262 121.929 2.34315L127.586 8L121.929 13.6569C121.538 14.0474 121.538 14.6805 121.929 15.0711C122.319 15.4616 122.953 15.4616 123.343 15.0711L129.707 8.70711ZM0 9H129V7H0V9Z" />
        </svg>
      </a>
    </div>

    <div class="look__wrapper" data-aos="custom-fade-up" data-aos-delay="800">
      <div class="look__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="look__slide look-slide">
              <div class="look-slide__image">
                <picture>
                  <source srcset="./img/products/01-2x.webp" media="(min-width: 1900px)">
                  <source srcset="./img/products/01.webp">
                  <img src="./img/products/01.jpg" srcset="./img/products/01-2x.jpg" alt="">
                </picture>
              </div>

              <span class="look-slide__title">Ленты с Вашим лого: упаковочная лента, составники, размерники,
                лейблы</span>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="look__slide look-slide">
              <div class="look-slide__image">
                <picture>
                  <source srcset="./img/products/02-2x.webp" media="(min-width: 1900px)">
                  <source srcset="./img/products/02.webp">
                  <img src="./img/products/02.jpg" srcset="./img/products/02-2x.jpg" alt="">
                </picture>
              </div>

              <span class="look-slide__title">Плечики с Вашим логотипом</span>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="look__slide look-slide">
              <div class="look-slide__image">
                <picture>
                  <source srcset="./img/products/03-2x.webp" media="(min-width: 1900px)">
                  <source srcset="./img/products/03.webp">
                  <img src="./img/products/03.jpg" srcset="./img/products/03-2x.jpg" alt="">
                </picture>
              </div>

              <span class="look-slide__title">Чехлы для одежды</span>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="look__slide look-slide">
              <div class="look-slide__image">
                <picture>
                  <source srcset="./img/products/04-2x.webp" media="(min-width: 1900px)">
                  <source srcset="./img/products/04.webp">
                  <img src="./img/products/04.jpg" srcset="./img/products/04-2x.jpg" alt="">
                </picture>
              </div>
              <span class="look-slide__title">Шоколад с ашим логотипом</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>