<section class="mean">
  <div class="mean__boxes rellax" data-rellax-speed="1">
    <img src="./img/decor/boxes-yellow-1.png" alt="">
  </div>
  <div class="mean__boxes rellax" data-rellax-speed="-1">
    <img src="./img/decor/boxes-yellow-1.png" alt="">
  </div>
  <div class="mean__candy rellax" data-rellax-speed="3">
    <img src="./img/decor/candy.png" alt="">
  </div>
  <h2 class="mean__title" data-aos="custom-fade-up">
    <span class="highlite">упаковка</span> <span>имеет</span> <span>значение</span>
  </h2>
  <div class="mean__container">
    <div class="mean__image">
      <img src="./img/super-svg.svg" class="super-svg" alt="">
    </div>
    <div class="mean__image mean__image--mob">
      <img src="./img/super-svg-mob.svg" class="super-svg" alt="">
    </div>
  </div>


</section>