<div class="menu">
  <div class="menu__header header">
    <div class="header__container container">
      <a href="./" class="logo header__logo">
        <span class="logo__top">Принт инсайт</span>
        <span class="logo__bottom">История уникального бренда</span>
      </a>
    </div>
  </div>
  <div class="menu__body">
    <div class="menu__close">
      <img src="./img/cross.svg" alt="">
    </div>
    <form class="menu__search menu-form">
      <label class="menu-form__label">
        <input type="text" class="menu-form__input">
        <button class="btn-reset menu-form__btn">
          <img src="./img/search-icon.png" alt="search">
        </button>
      </label>
    </form>
    <nav class="menu__nav menu-nav">
      <ul class="menu-nav__list list-reset">
        <li class="menu-nav__item">
          <a href="./" class="menu-nav__link">Главная</a>
        </li>
        <li class="menu-nav__item">
          <a href="./about.html" class="menu-nav__link">О нас</a>
        </li>
        <li class="menu-nav__item">
          <a href="./services.html" class="menu-nav__link">Доп услуги</a>
        </li>
        <li class="menu-nav__item">
          <a href="./delivery.html" class="menu-nav__link">Доставка</a>
        </li>
        <li class="menu-nav__item">
          <a href="./contacts.html" class="menu-nav__link">Контакты</a>
        </li>
        <li class="menu-nav__item">
          <a href="./faq.html" class="menu-nav__link">Вопрос-ответ</a>
        </li>
        <li class="menu-nav__item">
          <a href="./negative.html" class="menu-nav__link">Негатив</a>
        </li>
        <li class="menu-nav__item menu-catalogue">
          <a class="menu-nav__link">Каталог</a>
          <div class="menu-catalogue__dropdown menu-dropdown">
            <ul class="menu-dropdown__list list-reset">
              <li class="menu-nav__item menu-dropdown__item">
                <a class="menu-nav__link menu-dropdown__link">Упаковка с печатью</a>
                <ul class="list-reset menu-nav__list">
                  <li class="menu-nav__item">
                    <a href="#" class="menu-nav__link">Коробки (5)</a>
                  </li>
                  <li class="menu-nav__item">
                    <a href="#" class="menu-nav__link">Пакеты (5)</a>
                  </li>
                  <li class="menu-nav__item">
                    <a href="#" class="menu-nav__link">Ленты / Бирки текстиль (5)</a>
                  </li>
                  <li class="menu-nav__item">
                    <a href="#" class="menu-nav__link">Бумага упаковочная (5)</a>
                  </li>
                  <li class="menu-nav__item">
                    <a href="#" class="menu-nav__link">Плечики (5)</a>
                  </li>
                  <li class="menu-nav__item">
                    <a href="#" class="menu-nav__link">Полиграфия (5)</a>
                  </li>
                  <li class="menu-nav__item">
                    <a href="#" class="menu-nav__link">Шоколад в обертке (5)</a>
                  </li>
                  <li class="menu-nav__item">
                    <a href="#" class="menu-nav__link">Для одежды (5)</a>
                  </li>
                  <li class="menu-nav__item">
                    <a href="#" class="menu-nav__link">Для косметики (5)</a>
                  </li>
                  <li class="menu-nav__item">
                    <a href="#" class="menu-nav__link">Для парфюмерии (5)</a>
                  </li>
                  <li class="menu-nav__item">
                    <a href="#" class="menu-nav__link">Срок изготовления 1-5 дней</a>
                  </li>
                </ul>
              </li>
              <li class="menu-nav__item menu-dropdown__item">
                <a class="menu-nav__link menu-dropdown__link">Упаковка без печати</a>
                <ul class="list-reset menu-nav__list">
                  <li class="menu-nav__item">
                    <a href="#" class="menu-nav__link">Коробки (5)</a>
                  </li>
                  <li class="menu-nav__item">
                    <a href="#" class="menu-nav__link">Пакеты (5)</a>
                  </li>
                  <li class="menu-nav__item">
                    <a href="#" class="menu-nav__link">Тишью (5)</a>
                  </li>
                  <li class="menu-nav__item">
                    <a href="#" class="menu-nav__link">Конверты (5)</a>
                  </li>
                  <li class="menu-nav__item">
                    <a href="#" class="menu-nav__link">Держатели (5)</a>
                  </li>
                  <li class="menu-nav__item">
                    <a href="#" class="menu-nav__link">Конфети (5)</a>
                  </li>
                </ul>
              </li>
              <li class="menu-nav__item menu-dropdown__item">
                <a class="menu-nav__link menu-dropdown__link">Услуги</a>
                <ul class="list-reset menu-nav__list">
                  <li class="menu-nav__item">
                    <a href="#" class="menu-nav__link">
                      услуга выезд менеджера с образцами и подготовленой призентацией
                      (5)
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>