<section class="mood">
  <div class="container">
    <h2 class="mood__title" data-aos="custom-fade-up">Почувствуй наше <span>настроение</span></h2>
    <div class="mood-slider swiper">
      <div class="mood__container swiper-wrapper">
        <div class="swiper-slide">
          <div class="mood__item" data-aos="custom-fade-up" data-aos-delay="200">

          </div>
        </div>
        <div class="swiper-slide">
          <div class="mood__item" data-aos="custom-fade-up" data-aos-delay="400">

          </div>
        </div>
        <div class="swiper-slide">
          <div class="mood__item" data-aos="custom-fade-up" data-aos-delay="600">

          </div>
        </div>
        <div class="swiper-slide">
          <div class="mood__item" data-aos="custom-fade-up" data-aos-delay="800">

          </div>
        </div>
      </div>
    </div>
    <div class="mood__socials">
      <a href="#" class="mood__soc" data-cursor="-lg">
        <img src="./img/icons/insta.png" alt="">
      </a>
      <a href="#" class="mood__soc" data-cursor="-lg">
        <img src="./img/icons/facebook.png" alt="">
      </a>
      <a href="#" class="mood__soc" data-cursor="-lg">
        <img src="./img/icons/twitter.png" alt="">
      </a>
      <a href="#" class="mood__soc" data-cursor="-lg">
        <img src="./img/icons/youtube.png" alt="">
      </a>
      <a href="#" class="mood__soc" data-cursor="-lg">
        <img src="./img/icons/whatsapp.png" alt="">
      </a>
    </div>
  </div>
</section>