<section class="negative-section">
  <div class="negative-section__candy rellax" data-rellax-speed="2">
    <img src="./img/decor/candy-3.png" alt="">
  </div>
  <div class="container">
    <h2 class="negative-section__title">
      Какие <span>ситуации</span> были с клиентом?
    </h2>


    <div class="negative-section__container">
      <div class="negative-section__content">
        <p class="negative-section__desc">
          <span>Принт Инсайт</span> - это профессиональное изготовление этикеток, бирок, полиграфии и упаковки. Наше
          производство
          оснащено современным высокотехнологичным парком оборудования с большим количеством возможностей.
        </p>
      </div>
      <div class="negative-section__video" data-video-container>
        <video src="cover.mp4" poster="./img/negative-poster.jpg" data-video-content></video>
        <button class="btn-reset negative-section__play" data-video-play>
          <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.583058 0.306113L15.7133 8.73679L0.846991 17.6246L0.583058 0.306113Z" fill="white" />
          </svg>
        </button>
      </div>
    </div>
    <div class="negative-section__container">
      <div class="negative-section__content">
        <p class="negative-section__desc">
          <span>Принт Инсайт</span> - это профессиональное изготовление этикеток, бирок, полиграфии и упаковки. Наше
          производство
          оснащено современным высокотехнологичным парком оборудования с большим количеством возможностей.
        </p>
      </div>
      <div class="negative-section__video" data-video-container>
        <video src="cover.mp4" poster="./img/negative-poster.jpg" data-video-content></video>
        <button class="btn-reset negative-section__play" data-video-play>
          <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.583058 0.306113L15.7133 8.73679L0.846991 17.6246L0.583058 0.306113Z" fill="white" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>