<section class="pack-spread">
  <div class="pack-spread__container">
    <div class="pack__figure pack-spread__figure">04</div>
    <div class="pack-spread__content" data-aos="custom-fade-up">
      <h3 class="pack-title pack-spread__title">
        Вирусное <span class="green">распространение бренда</span> в социальных сетях
      </h3>
      <p class="pack-spread__desc pack-desc">
        Упаковка помогает создать уникальный и запоминающийся образ бренда, который позволяет потребителям выделить
        продукт среди десятков идентичных товаров.
      </p>
      <p class="pack-spread__desc pack-desc">
        Так, делая покупки онлайн, люди делятся красивой упаковкой в социальных сетях, ссылаясь на компанию. В основном
        это молодые люди в возрасте 18-24 лет. Многие больше доверяют мнению знакомых и коллег, чем рекламе, поэтому
        совершают покупки по рекомендациям.
      </p>
    </div>
  </div>
</section>