<section class="pack-grow">
  <div class="pack__figure pack-grow__figure">05</div>
  <div class="pack-grow__container">
    <div class="pack-grow__content" data-aos="custom-fade-up">
      <h3 class="pack-grow__title pack-title"><span class="green">Резкий рост</span><br>лояльности к бренду</h3>
      <p class="pack-grow__desc pack-desc">
        Эмоция, которую испытывает человек в процессе покупки, влияет на ценность товара. Также исследованиями доказано,
        что позитивная эмоциональная реакция повышает лояльность к бренду.
      </p>
    </div>
  </div>
</section>