<section class="pack-repeat">
  <div class="pack__figure pack-repeat__figure">03</div>
  <div class="pack-repeat__content" data-aos="custom-fade-up">
    <h3 class="pack-title pack-repeat__title">
      увеличение повторных покупок на 20 %
    </h3>
    <p class="pack-repeat__desc pack-desc">
      Упаковка влияет на потребителя даже после продажи товара.
    </p>
    <p class="pack-repeat__desc pack-desc">
      По результатам опросов более 50% клиентов вновь возвращаются в компанию, которая предоставила им качественную
      упаковку. А 90% потребителей используют повторно пакеты и коробки. Поэтому, делая качественную упаковку, компания
      способна оставить положительное впечатление о себе в умах потребителей и вернуть значительную часть клиентов.
    </p>
  </div>
</section>