<section class="services-store" id="store">
  <div class="services-store__candy rellax" data-rellax-speed="2">
    <img src="./img/decor/candy-4.png" alt="">
  </div>
  <div class="container">
    <div class="services-store__tab active" data-tab-content="clothes">

      <h2 class="title3 services-store__title centered">
        магазины одежды и обуви
      </h2>
      <div class="services-store__container">
        <div class="services-store__slider">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/clothes/01.webp">
                      <img src="./img/services-store/clothes/01.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/clothes/02.webp">
                      <img src="./img/service-store/clothes/02.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/clothes/03.webp">
                      <img src="./img/service-store/clothes/03.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/clothes/04.webp">
                      <img src="./img/service-store/clothes/04.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/clothes/05.webp">
                      <img src="./img/service-store/clothes/05.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/clothes/06.webp">
                      <img src="./img/service-store/clothes/06.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>

            </div>
            <div class="services-store__btn services-store__btn--prev" data-cursor="-lg">
              <svg width="30" height="53" viewBox="0 0 30 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M26.3867 51.8672L2.00056 25.3848L28.4829 0.998671" stroke="white" stroke-width="2" />
              </svg>
            </div>
            <div class="services-store__btn services-store__btn--next" data-cursor="-lg">
              <svg width="30" height="53" viewBox="0 0 30 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.48047 51.8672L27.8666 25.3848L1.38427 0.99867" stroke="white" stroke-width="2" />
              </svg>
            </div>
          </div>

          <div class="services-store__pagination swiper-pagination" data-cursor="-lg"></div>
        </div>

        <div class="services-store__content">
          <p class="services-store__desc">
            Когда вы выйдете из станции метро, по левую руку от вас будет проходить ул. Большая Московская. Идем по ней
            в сторону от Владимирской площади. Проходим поворот на Малую Московскую улицу, 
          </p>
          <a href="./catalogue-gen.html" class="btn btn-reset services-store__link"
            data-cursor="-white-cursor -lg -fl -text-gr" data-cursor-text="Click">
            <span>в каталог</span>
            <svg width="89" height="8" viewBox="0 0 89 8" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M88.8536 4.35356C89.0488 4.1583 89.0488 3.84172 88.8536 3.64645L85.6716 0.464474C85.4763 0.269211 85.1597 0.269211 84.9645 0.464473C84.7692 0.659736 84.7692 0.976318 84.9645 1.17158L87.7929 4.00001L84.9645 6.82843C84.7692 7.0237 84.7692 7.34028 84.9645 7.53554C85.1597 7.7308 85.4763 7.7308 85.6716 7.53554L88.8536 4.35356ZM0.5 4.5L88.5 4.50001L88.5 3.50001L0.5 3.5L0.5 4.5Z" />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="services-store__tab" data-tab-content="bed">
      <h2 class="title3 services-store__title centered">
        магазины постельного белья и штор
      </h2>

      <div class="services-store__container">
        <div class="services-store__slider">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/bed/01.webp">
                      <img src="./img/service-store/bed/01.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/bed/02.webp">
                      <img src="./img/service-store/bed/02.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/bed/03.webp">
                      <img src="./img/service-store/bed/03.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/bed/04.webp">
                      <img src="./img/service-store/bed/04.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>
            </div>
            <div class="services-store__btn services-store__btn--prev" data-cursor="-lg">
              <svg width="30" height="53" viewBox="0 0 30 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M26.3867 51.8672L2.00056 25.3848L28.4829 0.998671" stroke="white" stroke-width="2" />
              </svg>
            </div>
            <div class="services-store__btn services-store__btn--next" data-cursor="-lg">
              <svg width="30" height="53" viewBox="0 0 30 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.48047 51.8672L27.8666 25.3848L1.38427 0.99867" stroke="white" stroke-width="2" />
              </svg>
            </div>
          </div>

          <div class="services-store__pagination swiper-pagination" data-cursor="-lg"></div>
        </div>

        <div class="services-store__content">
          <p class="services-store__desc">
            Когда вы выйдете из станции метро, по левую руку от вас будет проходить ул. Большая Московская. Идем по ней
            в сторону от Владимирской площади. Проходим поворот на Малую Московскую улицу, 
          </p>
          <a href="./catalogue-gen.html" class="btn btn-reset services-store__link"
            data-cursor="-white-cursor -lg -fl -text-gr" data-cursor-text="Click">
            <span>в каталог</span>
            <svg width="89" height="8" viewBox="0 0 89 8" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M88.8536 4.35356C89.0488 4.1583 89.0488 3.84172 88.8536 3.64645L85.6716 0.464474C85.4763 0.269211 85.1597 0.269211 84.9645 0.464473C84.7692 0.659736 84.7692 0.976318 84.9645 1.17158L87.7929 4.00001L84.9645 6.82843C84.7692 7.0237 84.7692 7.34028 84.9645 7.53554C85.1597 7.7308 85.4763 7.7308 85.6716 7.53554L88.8536 4.35356ZM0.5 4.5L88.5 4.50001L88.5 3.50001L0.5 3.5L0.5 4.5Z" />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="services-store__tab" data-tab-content="other">
      <h2 class="title3 services-store__title centered">
        другое
      </h2>

      <div class="services-store__container">
        <div class="services-store__slider">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/other/01.webp">
                      <img src="./img/service-store/other/01.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>


            </div>
            <div class="services-store__btn services-store__btn--prev" data-cursor="-lg">
              <svg width="30" height="53" viewBox="0 0 30 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M26.3867 51.8672L2.00056 25.3848L28.4829 0.998671" stroke="white" stroke-width="2" />
              </svg>
            </div>
            <div class="services-store__btn services-store__btn--next" data-cursor="-lg">
              <svg width="30" height="53" viewBox="0 0 30 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.48047 51.8672L27.8666 25.3848L1.38427 0.99867" stroke="white" stroke-width="2" />
              </svg>
            </div>
          </div>

          <div class="services-store__pagination swiper-pagination" data-cursor="-lg"></div>
        </div>

        <div class="services-store__content">
          <p class="services-store__desc">
            Когда вы выйдете из станции метро, по левую руку от вас будет проходить ул. Большая Московская. Идем по ней
            в сторону от Владимирской площади. Проходим поворот на Малую Московскую улицу, 
          </p>
          <a href="./catalogue-gen.html" class="btn btn-reset services-store__link"
            data-cursor="-white-cursor -lg -fl -text-gr" data-cursor-text="Click">
            <span>в каталог</span>
            <svg width="89" height="8" viewBox="0 0 89 8" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M88.8536 4.35356C89.0488 4.1583 89.0488 3.84172 88.8536 3.64645L85.6716 0.464474C85.4763 0.269211 85.1597 0.269211 84.9645 0.464473C84.7692 0.659736 84.7692 0.976318 84.9645 1.17158L87.7929 4.00001L84.9645 6.82843C84.7692 7.0237 84.7692 7.34028 84.9645 7.53554C85.1597 7.7308 85.4763 7.7308 85.6716 7.53554L88.8536 4.35356ZM0.5 4.5L88.5 4.50001L88.5 3.50001L0.5 3.5L0.5 4.5Z" />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="services-store__tab" data-tab-content="flowers">
      <h2 class="title3 services-store__title centered">
        магазины цветов
      </h2>

      <div class="services-store__container">
        <div class="services-store__slider">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/flowers/01.webp">
                      <img src="./img/service-store/flowers/01.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/flowers/02.webp">
                      <img src="./img/service-store/flowers/02.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/flowers/03.webp">
                      <img src="./img/service-store/flowers/03.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/flowers/04.webp">
                      <img src="./img/service-store/flowers/04.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/flowers/05.webp">
                      <img src="./img/service-store/flowers/05.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>

            </div>
            <div class="services-store__btn services-store__btn--prev" data-cursor="-lg">
              <svg width="30" height="53" viewBox="0 0 30 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M26.3867 51.8672L2.00056 25.3848L28.4829 0.998671" stroke="white" stroke-width="2" />
              </svg>
            </div>
            <div class="services-store__btn services-store__btn--next" data-cursor="-lg">
              <svg width="30" height="53" viewBox="0 0 30 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.48047 51.8672L27.8666 25.3848L1.38427 0.99867" stroke="white" stroke-width="2" />
              </svg>
            </div>
          </div>

          <div class="services-store__pagination swiper-pagination" data-cursor="-lg"></div>
        </div>

        <div class="services-store__content">
          <p class="services-store__desc">
            Когда вы выйдете из станции метро, по левую руку от вас будет проходить ул. Большая Московская. Идем по ней
            в сторону от Владимирской площади. Проходим поворот на Малую Московскую улицу, 
          </p>
          <a href="./catalogue-gen.html" class="btn btn-reset services-store__link"
            data-cursor="-white-cursor -lg -fl -text-gr" data-cursor-text="Click">
            <span>в каталог</span>
            <svg width="89" height="8" viewBox="0 0 89 8" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M88.8536 4.35356C89.0488 4.1583 89.0488 3.84172 88.8536 3.64645L85.6716 0.464474C85.4763 0.269211 85.1597 0.269211 84.9645 0.464473C84.7692 0.659736 84.7692 0.976318 84.9645 1.17158L87.7929 4.00001L84.9645 6.82843C84.7692 7.0237 84.7692 7.34028 84.9645 7.53554C85.1597 7.7308 85.4763 7.7308 85.6716 7.53554L88.8536 4.35356ZM0.5 4.5L88.5 4.50001L88.5 3.50001L0.5 3.5L0.5 4.5Z" />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="services-store__tab" data-tab-content="cosmetics">
      <h2 class="title3 services-store__title centered">
        Для частных магазинов и бутиков
      </h2>

      <div class="services-store__container">
        <div class="services-store__slider">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/cosmetics/01.webp">
                      <img src="./img/service-store/cosmetics/01.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/cosmetics/02.webp">
                      <img src="./img/service-store/cosmetics/02.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/cosmetics/03.webp">
                      <img src="./img/service-store/cosmetics/03.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/cosmetics/04.webp">
                      <img src="./img/service-store/cosmetics/04.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/cosmetics/05.webp">
                      <img src="./img/service-store/cosmetics/05.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/cosmetics/06.webp">
                      <img src="./img/service-store/cosmetics/06.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>

            </div>
            <div class="services-store__btn services-store__btn--prev" data-cursor="-lg">
              <svg width="30" height="53" viewBox="0 0 30 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M26.3867 51.8672L2.00056 25.3848L28.4829 0.998671" stroke="white" stroke-width="2" />
              </svg>
            </div>
            <div class="services-store__btn services-store__btn--next" data-cursor="-lg">
              <svg width="30" height="53" viewBox="0 0 30 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.48047 51.8672L27.8666 25.3848L1.38427 0.99867" stroke="white" stroke-width="2" />
              </svg>
            </div>
          </div>

          <div class="services-store__pagination swiper-pagination" data-cursor="-lg"></div>
        </div>

        <div class="services-store__content">
          <p class="services-store__desc">
            Когда вы выйдете из станции метро, по левую руку от вас будет проходить ул. Большая Московская. Идем по ней
            в сторону от Владимирской площади. Проходим поворот на Малую Московскую улицу, 
          </p>
          <a href="./catalogue-gen.html" class="btn btn-reset services-store__link"
            data-cursor="-white-cursor -lg -fl -text-gr" data-cursor-text="Click">
            <span>в каталог</span>
            <svg width="89" height="8" viewBox="0 0 89 8" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M88.8536 4.35356C89.0488 4.1583 89.0488 3.84172 88.8536 3.64645L85.6716 0.464474C85.4763 0.269211 85.1597 0.269211 84.9645 0.464473C84.7692 0.659736 84.7692 0.976318 84.9645 1.17158L87.7929 4.00001L84.9645 6.82843C84.7692 7.0237 84.7692 7.34028 84.9645 7.53554C85.1597 7.7308 85.4763 7.7308 85.6716 7.53554L88.8536 4.35356ZM0.5 4.5L88.5 4.50001L88.5 3.50001L0.5 3.5L0.5 4.5Z" />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="services-store__tab" data-tab-content="perfume">
      <h2 class="title3 services-store__title centered">
        магазины парфюмерии
      </h2>

      <div class="services-store__container">
        <div class="services-store__slider">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/perfume/01.webp">
                      <img src="./img/service-store/perfume/01.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/perfume/02.webp">
                      <img src="./img/service-store/perfume/02.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/perfume/03.webp">
                      <img src="./img/service-store/perfume/03.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/perfume/04.webp">
                      <img src="./img/service-store/perfume/04.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/perfume/05.webp">
                      <img src="./img/service-store/perfume/05.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/perfume/06.webp">
                      <img src="./img/service-store/perfume/06.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>

            </div>
            <div class="services-store__btn services-store__btn--prev" data-cursor="-lg">
              <svg width="30" height="53" viewBox="0 0 30 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M26.3867 51.8672L2.00056 25.3848L28.4829 0.998671" stroke="white" stroke-width="2" />
              </svg>
            </div>
            <div class="services-store__btn services-store__btn--next" data-cursor="-lg">
              <svg width="30" height="53" viewBox="0 0 30 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.48047 51.8672L27.8666 25.3848L1.38427 0.99867" stroke="white" stroke-width="2" />
              </svg>
            </div>
          </div>

          <div class="services-store__pagination swiper-pagination" data-cursor="-lg"></div>
        </div>

        <div class="services-store__content">
          <p class="services-store__desc">
            Когда вы выйдете из станции метро, по левую руку от вас будет проходить ул. Большая Московская. Идем по ней
            в сторону от Владимирской площади. Проходим поворот на Малую Московскую улицу, 
          </p>
          <a href="./catalogue-gen.html" class="btn btn-reset services-store__link"
            data-cursor="-white-cursor -lg -fl -text-gr" data-cursor-text="Click">
            <span>в каталог</span>
            <svg width="89" height="8" viewBox="0 0 89 8" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M88.8536 4.35356C89.0488 4.1583 89.0488 3.84172 88.8536 3.64645L85.6716 0.464474C85.4763 0.269211 85.1597 0.269211 84.9645 0.464473C84.7692 0.659736 84.7692 0.976318 84.9645 1.17158L87.7929 4.00001L84.9645 6.82843C84.7692 7.0237 84.7692 7.34028 84.9645 7.53554C85.1597 7.7308 85.4763 7.7308 85.6716 7.53554L88.8536 4.35356ZM0.5 4.5L88.5 4.50001L88.5 3.50001L0.5 3.5L0.5 4.5Z" />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="services-store__tab" data-tab-content="underwear">
      <h2 class="title3 services-store__title centered">
        Магазины нижнего белья
      </h2>

      <div class="services-store__container">
        <div class="services-store__slider">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/underwear/01.webp">
                      <img src="./img/service-store/underwear/01.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/underwear/02.webp">
                      <img src="./img/service-store/underwear/02.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/underwear/03.webp">
                      <img src="./img/service-store/underwear/03.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/underwear/04.webp">
                      <img src="./img/service-store/underwear/04.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>
            </div>
            <div class="services-store__btn services-store__btn--prev" data-cursor="-lg">
              <svg width="30" height="53" viewBox="0 0 30 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M26.3867 51.8672L2.00056 25.3848L28.4829 0.998671" stroke="white" stroke-width="2" />
              </svg>
            </div>
            <div class="services-store__btn services-store__btn--next" data-cursor="-lg">
              <svg width="30" height="53" viewBox="0 0 30 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.48047 51.8672L27.8666 25.3848L1.38427 0.99867" stroke="white" stroke-width="2" />
              </svg>
            </div>
          </div>

          <div class="services-store__pagination swiper-pagination" data-cursor="-lg"></div>
        </div>

        <div class="services-store__content">
          <p class="services-store__desc">
            Когда вы выйдете из станции метро, по левую руку от вас будет проходить ул. Большая Московская. Идем по ней
            в сторону от Владимирской площади. Проходим поворот на Малую Московскую улицу, 
          </p>
          <a href="./catalogue-gen.html" class="btn btn-reset services-store__link"
            data-cursor="-white-cursor -lg -fl -text-gr" data-cursor-text="Click">
            <span>в каталог</span>
            <svg width="89" height="8" viewBox="0 0 89 8" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M88.8536 4.35356C89.0488 4.1583 89.0488 3.84172 88.8536 3.64645L85.6716 0.464474C85.4763 0.269211 85.1597 0.269211 84.9645 0.464473C84.7692 0.659736 84.7692 0.976318 84.9645 1.17158L87.7929 4.00001L84.9645 6.82843C84.7692 7.0237 84.7692 7.34028 84.9645 7.53554C85.1597 7.7308 85.4763 7.7308 85.6716 7.53554L88.8536 4.35356ZM0.5 4.5L88.5 4.50001L88.5 3.50001L0.5 3.5L0.5 4.5Z" />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="services-store__tab" data-tab-content="agent">
      <h2 class="title3 services-store__title centered">
        Для дизайнерских агенств
      </h2>

      <div class="services-store__container">
        <div class="services-store__slider">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/agent/01.webp">
                      <img src="./img/service-store/agent/01.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="services-store__slide">
                  <div class="services-store__frame"></div>
                  <div class="services-store__image">
                    <picture>
                      <source srcset="./img/service-store/agent/02.webp">
                      <img src="./img/service-store/agent/02.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>

            </div>
            <div class="services-store__btn services-store__btn--prev" data-cursor="-lg">
              <svg width="30" height="53" viewBox="0 0 30 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M26.3867 51.8672L2.00056 25.3848L28.4829 0.998671" stroke="white" stroke-width="2" />
              </svg>
            </div>
            <div class="services-store__btn services-store__btn--next" data-cursor="-lg">
              <svg width="30" height="53" viewBox="0 0 30 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.48047 51.8672L27.8666 25.3848L1.38427 0.99867" stroke="white" stroke-width="2" />
              </svg>
            </div>
          </div>
          <div class="services-store__pagination swiper-pagination" data-cursor="-lg"></div>
        </div>

        <div class="services-store__content">
          <p class="services-store__desc">
            Когда вы выйдете из станции метро, по левую руку от вас будет проходить ул. Большая Московская. Идем по ней
            в сторону от Владимирской площади. Проходим поворот на Малую Московскую улицу
          </p>
          <a href="./catalogue-gen.html" class="btn btn-reset services-store__link"
            data-cursor="-white-cursor -lg -fl -text-gr" data-cursor-text="Click">
            <span>в каталог</span>
            <svg width="89" height="8" viewBox="0 0 89 8" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M88.8536 4.35356C89.0488 4.1583 89.0488 3.84172 88.8536 3.64645L85.6716 0.464474C85.4763 0.269211 85.1597 0.269211 84.9645 0.464473C84.7692 0.659736 84.7692 0.976318 84.9645 1.17158L87.7929 4.00001L84.9645 6.82843C84.7692 7.0237 84.7692 7.34028 84.9645 7.53554C85.1597 7.7308 85.4763 7.7308 85.6716 7.53554L88.8536 4.35356ZM0.5 4.5L88.5 4.50001L88.5 3.50001L0.5 3.5L0.5 4.5Z" />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <a href="./catalogue-gen.html" class="btn btn-reset services-store__link services-store__link--mob">
      <span>в каталог</span>
      <svg width="89" height="8" viewBox="0 0 89 8" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M88.8536 4.35356C89.0488 4.1583 89.0488 3.84172 88.8536 3.64645L85.6716 0.464474C85.4763 0.269211 85.1597 0.269211 84.9645 0.464473C84.7692 0.659736 84.7692 0.976318 84.9645 1.17158L87.7929 4.00001L84.9645 6.82843C84.7692 7.0237 84.7692 7.34028 84.9645 7.53554C85.1597 7.7308 85.4763 7.7308 85.6716 7.53554L88.8536 4.35356ZM0.5 4.5L88.5 4.50001L88.5 3.50001L0.5 3.5L0.5 4.5Z" />
      </svg>
    </a>
  </div>
</section>