<section class="services-store">
  <div class="container">
    <div class="services-store__title-slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <h2 class="title3 services-store__title centered">
            магазины одежды и обуви
          </h2>
        </div>
        <div class="swiper-slide">
          <h2 class="title3 services-store__title centered">
            магазины парфюмерии
          </h2>
        </div>
        <div class="swiper-slide">
          <h2 class="title3 services-store__title centered">
            магазины косметики
          </h2>
        </div>
        <div class="swiper-slide">
          <h2 class="title3 services-store__title centered">
            цветочные магазины
          </h2>
        </div>
        <div class="swiper-slide">
          <h2 class="title3 services-store__title centered">
            магазины постельного белья и штор
          </h2>
        </div>
        <div class="swiper-slide">
          <h2 class="title3 services-store__title centered">
            другое
          </h2>
        </div>
      </div>
    </div>

    <div class="services-store__container">
      <div class="services-store__slider">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="services-store__slide">
                <div class="services-store__frame"></div>
                <div class="services-store__image">
                  <picture>
                    <source srcset="./img/service-store/01.webp">
                    <img src="./img/service-store/01.jpg" alt="">
                  </picture>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="services-store__slide">
                <div class="services-store__frame"></div>
                <div class="services-store__image">
                  <picture>
                    <source srcset="./img/service-store/02-2x.webp" media="(min-width: 1900px)">
                    <source srcset="./img/service-store/02.webp">
                    <img src="./img/service-store/02.png" srcset="./img/service-store/02-2x.png 2x" alt="">
                  </picture>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="services-store__slide">
                <div class="services-store__frame"></div>
                <div class="services-store__image">
                  <picture>
                    <source srcset="./img/service-store/03-2x.webp" media="(min-width: 1900px)">
                    <source srcset="./img/service-store/03.webp">
                    <img src="./img/service-store/03.png" srcset="./img/service-store/03-2x.png 2x" alt="">
                  </picture>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="services-store__slide">
                <div class="services-store__frame"></div>
                <div class="services-store__image">
                  <picture>
                    <source srcset="./img/service-store/04-2x.webp" media="(min-width: 1900px)">
                    <source srcset="./img/service-store/04.webp">
                    <img src="./img/service-store/04.png" srcset="./img/service-store/04-2x.png 2x" alt="">
                  </picture>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="services-store__slide">
                <div class="services-store__frame"></div>
                <div class="services-store__image">
                  <picture>
                    <source srcset="./img/service-store/05-2x.webp" media="(min-width: 1900px)">
                    <source srcset="./img/service-store/05.webp">
                    <img src="./img/service-store/05.png" srcset="./img/service-store/05-2x.png 2x" alt="">
                  </picture>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="services-store__slide">
                <div class="services-store__frame"></div>
                <div class="services-store__image">
                  <picture>
                    <source srcset="./img/service-store/06-2x.webp" media="(min-width: 1900px)">
                    <source srcset="./img/service-store/06.webp">
                    <img src="./img/service-store/06.png" srcset="./img/service-store/06-2x.png 2x" alt="">
                  </picture>
                </div>
              </div>
            </div>

          </div>
          <div class="services-store__btn services-store__btn--prev" data-cursor="-lg">
            <svg width="30" height="53" viewBox="0 0 30 53" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M26.3867 51.8672L2.00056 25.3848L28.4829 0.998671" stroke="white" stroke-width="2" />
            </svg>
          </div>
          <div class="services-store__btn services-store__btn--next" data-cursor="-lg">
            <svg width="30" height="53" viewBox="0 0 30 53" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.48047 51.8672L27.8666 25.3848L1.38427 0.99867" stroke="white" stroke-width="2" />
            </svg>
          </div>
        </div>

        <div class="services-store__pagination swiper-pagination"></div>
      </div>

      <div class="services-store__content">
        <div class="services-store__content-slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <h4 class="services-store__know">
                <span class="services-store__line">
                  <span class="medium highlite">мы знаем</span>
                  <span class="large">как сделать</span>
                </span>
                <span class="services-store__line">
                  <span class="highlite">уникальную упаковку</span>
                  <span class="thin">для вашего</span>
                  <span class="medium">магазина</span>
                </span>
                <span class="services-store__line">
                  <span class="large">одежды</span>
                </span>
              </h4>
            </div>
            <div class="swiper-slide">
              <h4 class="services-store__know">
                <span class="services-store__line">
                  <span class="medium highlite">мы знаем</span>
                  <span class="large">как сделать</span>
                </span>
                <span class="services-store__line">
                  <span class="highlite">уникальную упаковку</span>
                  <span class="thin">для вашего</span>
                  <span class="medium">магазина</span>
                </span>
                <span class="services-store__line">
                  <span class="large">Парфюмерии</span>
                </span>
              </h4>
            </div>
            <div class="swiper-slide">
              <h4 class="services-store__know">
                <span class="services-store__line">
                  <span class="medium highlite">мы знаем</span>
                  <span class="large">как сделать</span>
                </span>
                <span class="services-store__line">
                  <span class="highlite">уникальную упаковку</span>
                  <span class="thin">для вашего</span>
                  <span class="medium">магазина</span>
                </span>
                <span class="services-store__line">
                  <span class="large">косметики</span>
                </span>
              </h4>
            </div>
            <div class="swiper-slide">
              <h4 class="services-store__know">
                <span class="services-store__line">
                  <span class="medium highlite">мы знаем</span>
                  <span class="large">как сделать</span>
                </span>
                <span class="services-store__line">
                  <span class="highlite">уникальную упаковку</span>
                  <span class="thin">для вашего</span>
                  <span class="medium">цветочного</span>
                </span>
                <span class="services-store__line">
                  <span class="large">Магазина</span>
                </span>
              </h4>
            </div>
            <div class="swiper-slide">
              <h4 class="services-store__know">
                <span class="services-store__line">
                  <span class="medium highlite">мы знаем</span>
                  <span class="large">как сделать</span>
                </span>
                <span class="services-store__line">
                  <span class="highlite">уникальную упаковку</span>
                  <span class="thin">для вашего</span>
                  <span class="medium">магазина</span>
                </span>
                <span class="services-store__line">
                  <span class="medium">магазина постельного белья и штор</span>
                </span>
              </h4>
            </div>
            <div class="swiper-slide">
              <h4 class="services-store__know">
                <span class="services-store__line">
                  <span class="medium highlite">мы знаем</span>
                  <span class="large">как сделать</span>
                </span>
                <span class="services-store__line">
                  <span class="highlite">уникальную упаковку</span>
                  <span class="thin">для вашего</span>
                  <span class="medium">магазина</span>
                </span>
                <span class="services-store__line">
                  <span class="medium">магазина постельного белья и штор</span>
                </span>
              </h4>
            </div>
          </div>

        </div>

        <a href="./catalogue-gen.html" class="btn btn-reset services-store__link">
          <span>в каталог</span>
          <svg width="89" height="8" viewBox="0 0 89 8" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M88.8536 4.35356C89.0488 4.1583 89.0488 3.84172 88.8536 3.64645L85.6716 0.464474C85.4763 0.269211 85.1597 0.269211 84.9645 0.464473C84.7692 0.659736 84.7692 0.976318 84.9645 1.17158L87.7929 4.00001L84.9645 6.82843C84.7692 7.0237 84.7692 7.34028 84.9645 7.53554C85.1597 7.7308 85.4763 7.7308 85.6716 7.53554L88.8536 4.35356ZM0.5 4.5L88.5 4.50001L88.5 3.50001L0.5 3.5L0.5 4.5Z" />
          </svg>
        </a>
      </div>
    </div>
    <a href="./catalogue-gen.html" class="btn btn-reset services-store__link services-store__link--mob">
      <span>в каталог</span>
      <svg width="89" height="8" viewBox="0 0 89 8" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M88.8536 4.35356C89.0488 4.1583 89.0488 3.84172 88.8536 3.64645L85.6716 0.464474C85.4763 0.269211 85.1597 0.269211 84.9645 0.464473C84.7692 0.659736 84.7692 0.976318 84.9645 1.17158L87.7929 4.00001L84.9645 6.82843C84.7692 7.0237 84.7692 7.34028 84.9645 7.53554C85.1597 7.7308 85.4763 7.7308 85.6716 7.53554L88.8536 4.35356ZM0.5 4.5L88.5 4.50001L88.5 3.50001L0.5 3.5L0.5 4.5Z" />
      </svg>
    </a>
  </div>
</section>