<section class="services-products">
  <div class="container services-products__container">
    <div class="services-products__col">
      <div class="services-products__header">
        <h2 class="services-products__title"><span class="highlite">Дополнительные</span> товары</h2>
        <p class="services-products__desc">
          для уникальности вашей упаковки
        </p>
        <a href="#" class="btn btn-reset services-products__btn">
          <span>в каталог</span>
          <svg width="89" height="8" viewBox="0 0 89 8" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M88.8536 4.35356C89.0488 4.1583 89.0488 3.84172 88.8536 3.64645L85.6716 0.464474C85.4763 0.269211 85.1597 0.269211 84.9645 0.464473C84.7692 0.659736 84.7692 0.976318 84.9645 1.17158L87.7929 4.00001L84.9645 6.82843C84.7692 7.0237 84.7692 7.34028 84.9645 7.53554C85.1597 7.7308 85.4763 7.7308 85.6716 7.53554L88.8536 4.35356ZM0.5 4.5L88.5 4.50001L88.5 3.50001L0.5 3.5L0.5 4.5Z" />
          </svg>
        </a>
      </div>

      <div class="services-products__image">
        <picture>
          <source srcset="./img/service-products/01-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/service-products/01.webp">
          <img src="./img/service-products/01.jpg" srcset="./img/service-products/01-2x.jpg 2x" alt="">
        </picture>

        <div class="services-products__text services-products__text--up">
          Шоколад с Вашим логотипом
        </div>
      </div>
    </div>

    <div class="services-products__col">
      <div class="services-products__image">
        <picture>
          <source srcset="./img/service-products/02-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/service-products/02.webp">
          <img src="./img/service-products/02.jpg" srcset="./img/service-products/02-2x.jpg 2x" alt="">
        </picture>

        <div class="services-products__text">
          Плечики с Вашим логотипом
        </div>
      </div>
    </div>

    <div class="services-products__col">
      <div class="services-products__image">
        <picture>
          <source srcset="./img/service-products/03-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/service-products/03.webp">
          <img src="./img/service-products/03.jpg" srcset="./img/service-products/03-2x.jpg 2x" alt="">
        </picture>

        <div class="services-products__text services-products__text--up">
          Ленты с Вашим лого: упаковочная лента, составники, размерники, лейблы
        </div>
      </div>
    </div>
  </div>
</section>