<section class="services-nishes">
  <div class="services-nishes__container">
    <h2 class="services-nishes__title title3">
      Какие ниши используют упаковку
    </h2>

    <div class="services-nishes__items">
      <div class="services-nishes__item" data-cusror="-lg -fl" data-cursor-text="Click" data-tab-item="clothes">
        <a href="#store" class="services-nishes__anchor"></a>
        <div class="services-nishes__image">
          <picture>
            <source srcset="./img/nishes/01-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/nishes/01.webp">
            <img src="./img/nishes/01.jpg" srcset="./img/nishes/01-2x.jpg" alt="">
          </picture>
        </div>
        <div class="services-nishes__text">
          магазин одежды
        </div>
      </div>
      <div class="services-nishes__item" data-cusror="-lg -fl" data-cursor-text="Click" data-tab-item="bed">
        <a href="#store" class="services-nishes__anchor"></a>
        <div class="services-nishes__image">
          <picture>
            <source srcset="./img/nishes/02-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/nishes/02.webp">
            <img src="./img/nishes/02.jpg" srcset="./img/nishes/02-2x.jpg" alt="">
          </picture>
        </div>
        <div class="services-nishes__text">
          магазины постельного белья и штор
        </div>
      </div>
      <div class="services-nishes__item" data-cusror="-lg -fl" data-cursor-text="Click" data-tab-item="other">
        <a href="#store" class="services-nishes__anchor"></a>
        <div class="services-nishes__image">
          <picture>
            <source srcset="./img/nishes/03.webp">
            <img src="./img/nishes/03.jpg" alt="">
          </picture>
        </div>
        <div class="services-nishes__text">
          другое
        </div>
      </div>

      <div class="services-nishes__item" data-cusror="-lg -fl" data-cursor-text="Click" data-tab-item="flowers">
        <a href="#store" class="services-nishes__anchor"></a>
        <div class="services-nishes__image">
          <picture>
            <source srcset="./img/nishes/08-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/nishes/08.webp">
            <img src="./img/nishes/08.jpg" srcset="./img/nishes/08-2x.jpg" alt="">
          </picture>
        </div>
        <div class="services-nishes__text">
          магазины цветов
        </div>
      </div>
      <div class="services-nishes__item">
        <span class="logo services-nishes__logo">
          <span class="logo__top">Принт инсайт</span>
          <span class="logo__bottom">История уникального бренда</span>
        </span>
      </div>
      <div class="services-nishes__item" data-cusror="-lg -fl" data-cursor-text="Click" data-tab-item="perfume">
        <a href="#store" class="services-nishes__anchor"></a>
        <div class="services-nishes__image">
          <picture>
            <source srcset="./img/nishes/04-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/nishes/04.webp">
            <img src="./img/nishes/04.jpg" srcset="./img/nishes/04-2x.jpg" alt="">
          </picture>
        </div>
        <div class="services-nishes__text">
          магазины парфюмерии
        </div>
      </div>


      <div class="services-nishes__item" data-cusror="-lg -fl" data-cursor-text="Click" data-tab-item="perfume-2">
        <a href="#store" class="services-nishes__anchor"></a>
        <div class="services-nishes__image">
          <picture>
            <source srcset="./img/nishes/07.webp">
            <img src="./img/nishes/07.jpg" alt="">
          </picture>
        </div>
        <div class="services-nishes__text">
          магазины парфюмерии
        </div>
      </div>
      <div class="services-nishes__item" data-cusror="-lg -fl" data-cursor-text="Click" data-tab-item="perfume-3">
        <a href="#store" class="services-nishes__anchor"></a>
        <div class="services-nishes__image">
          <picture>
            <source srcset="./img/nishes/06-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/nishes/06.webp">
            <img src="./img/nishes/06.jpg" srcset="./img/nishes/06-2x.jpg" alt="">
          </picture>
        </div>
        <div class="services-nishes__text">
          магазины парфюмерии
        </div>
      </div>
      <div class="services-nishes__item" data-cusror="-lg -fl" data-cursor-text="Click" data-tab-item="perfume-4">
        <a href="#store" class="services-nishes__anchor"></a>
        <div class="services-nishes__image">
          <picture>
            <source srcset="./img/nishes/05.webp">
            <img src="./img/nishes/05.jpg" alt="">
          </picture>
        </div>
        <div class="services-nishes__text">
          магазины парфюмерии
        </div>
      </div>
    </div>
  </div>
</section>