<section class="socials">
  <div class="container">
    <h2 class="mood__title centered">подпишись на нас в <span>социальной сети</span></h2>
    <div class="socials__container">
      <div class="socials__item mood__item">

      </div>
      <div class="socials__item mood__item">

      </div>
      <div class="socials__item mood__item">

      </div>
      <div class="socials__item mood__item">

      </div>
    </div>
    <div class="socials__bottom">
      <p class="socials__desc">
        Лучшие акции, главные новости и персональные предложения, от PRINT INSIGHT
      </p>
      <div class="mood__socials">
        <a href="#" class="mood__soc">
          <img src="./img/insta.png" alt="">
        </a>
        <a href="#" class="mood__soc">
          <img src="./img/facebook.png" alt="">
        </a>
        <a href="#" class="mood__soc">
          <img src="./img/twitter.png" alt="">
        </a>
        <a href="#" class="mood__soc">
          <img src="./img/youtube.png" alt="">
        </a>
        <a href="#" class="mood__soc">
          <img src="./img/whatsapp.png" alt="">
        </a>
      </div>
    </div>
  </div>
</section>