<section class="work">
  <h2 class="work__title" data-aos="custom-fade-up">
    эксклюзивные
    <span>работы</span>
  </h2>
  <div class="work__row">
    <a href="./catalogue-gen.html" class="work__item" data-cursor="-white-cursor -lg -fl -text-gr"
      data-cursor-text="Click">
      <div class="work__image">
        <picture>
          <source srcset="./img/work/01.webp">
          <img src="./img/work/01.jpg" alt="">
        </picture>
      </div>
      <span class="work__text">Большие пакеты</span>
    </a>
    <a href="./catalogue-gen.html" class="work__item" data-cursor="-white-cursor -lg -fl -text-gr"
      data-cursor-text="Click">
      <div class="work__image">
        <picture>
          <source srcset="./img/work/02-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/work/02.webp">
          <img src="./img/work/02.jpg" srcset="./img/work/02-2x.jpg" alt="">
        </picture>
      </div>
      <span class="work__text">Полиграфия</span>
    </a>
  </div>
  <div class="work__row">
    <div class="work__wrapper">
    </div>
    <div class="work__item work__item--animate">
      <div class="work__image">
        <picture>
          <source srcset="./img/work/03.webp">
          <img src="./img/work/03.jpg" alt="">
        </picture>
      </div>
    </div>
    <div class="work__item work__item--form" data-cursor="-white-cursor">
      <form action="post" class="form work__form form-main">
        <span class="form__title">узнай первым</span>
        <span class="form__desc">о наших закрытых распродаж и получи подарок при подписке</span>
        <label class="form__label">
          <input type="text" class="form__input input-name" placeholder="имя">
        </label>
        <label class="form__label">
          <input type="tel" class="form__input input-tel" placeholder="+7 (...) ...-..-..">
        </label>
        <label class="form__label">
          <input type="email" class="form__input input-email" placeholder="e-mail">
        </label>
        <button class="btn-reset form__btn btn" type="submit" data-cursor="-lg">
          <span>Получить консультацию</span>
        </button>
        <div class="form__agreement">
          <input id="form-check" type="checkbox" class="form__checkbox visually-hidden" value="agree">
          <label for="form-check" class="form__rcheck" data-cursor="-lg">
            <span class="form__fake"></span>
            <span>Согласен с условиями обработки персональных данных</span>
          </label>
        </div>
      </form>
    </div>
  </div>
</section>